Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2023-10, with the labels that each got.

#253 fix: allow contributors to run `check-diff` job
  .github/workflows/size-diff.yml
Labels: CI

#252 refactor: integrate `typescript-eslint-plugin`
  .eslintrc.cjs
  package.json
  src/animated.tsx
  src/bindings.native.ts
  src/bindings.ts
  src/components/KeyboardAvoidingView/hooks.ts
  src/components/KeyboardAvoidingView/index.tsx
  src/constants.ts
  src/context.ts
  src/hooks.ts
  src/internal.ts
  src/replicas.ts
  src/specs/KeyboardControllerViewNativeComponent.ts
  src/specs/KeyboardGestureAreaNativeComponent.ts
  src/specs/NativeKeyboardController.ts
  src/specs/NativeStatusBarManagerCompat.ts
  yarn.lock
Labels: refactor

#254 refactor: changed ios file structure
  ios/KeyboardController.xcodeproj/project.pbxproj
  ios/events/KeyboardMoveEvent.h
  ios/events/KeyboardMoveEvent.m
  ios/observers/KeyboardMovementObserver.swift
  ios/views/KeyboardControllerView.h
  ios/views/KeyboardControllerView.mm
  ios/views/KeyboardControllerViewManager.mm
  ios/views/KeyboardControllerViewManager.swift
Labels: 🍎 iOS, refactor

#255 fix: use animated reaction instead of derivation
  FabricExample/src/screens/Examples/AwareScrollView/useSmoothKeyboardHandler.ts
  example/src/screens/Examples/AwareScrollView/useSmoothKeyboardHandler.ts
Labels: example

#258 chore: update gradle & kotlin versions
  FabricExample/android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
Labels: 🤖 android, CI

#245 feat: `KeyboardStickyView` + example with `KeyboardAwareScrollView`
  FabricExample/src/components/AwareScrollView/KeyboardAwareScrollView.tsx
  FabricExample/src/components/AwareScrollView/index.ts
  FabricExample/src/components/AwareScrollView/useSmoothKeyboardHandler.ts
  FabricExample/src/components/TextInput/index.tsx
  FabricExample/src/constants/screenNames.ts
  FabricExample/src/navigation/ExamplesStack/index.tsx
  FabricExample/src/screens/Examples/AwareScrollView/index.tsx
  FabricExample/src/screens/Examples/AwareScrollViewStickyFooter/index.tsx
  FabricExample/src/screens/Examples/AwareScrollViewStickyFooter/styles.ts
  FabricExample/src/screens/Examples/Main/constants.ts
  README.md
  docs/docs/api/components/keyboard-sticky-view/index.mdx
  docs/docs/api/components/keyboard-sticky-view/ksv.lottie.json
  example/src/components/AwareScrollView/KeyboardAwareScrollView.tsx
  example/src/components/AwareScrollView/index.ts
  example/src/components/AwareScrollView/useSmoothKeyboardHandler.ts
  example/src/components/TextInput/index.tsx
  example/src/constants/screenNames.ts
  example/src/navigation/ExamplesStack/index.tsx
  example/src/screens/Examples/AwareScrollView/index.tsx
  example/src/screens/Examples/AwareScrollViewStickyFooter/index.tsx
  example/src/screens/Examples/AwareScrollViewStickyFooter/styles.ts
  example/src/screens/Examples/Main/constants.ts
  package.json
  src/components/KeyboardStickyView/index.tsx
  src/components/index.ts
  src/index.ts
Labels: documentation, enhancement, example, 📚 components

#262 docs: added `KeyboardAvoidingView` and `KeyboardStickyView` comparison
  docs/docs/api/components/keyboard-sticky-view/index.mdx
  docs/src/components/ComparisonTable/index.tsx
  docs/src/components/KeyboardAvoidingViewComparison/index.tsx
Labels: documentation

#264 docs: detect UI regressions
  .github/workflows/docs-e2e.yml
  docs/__tests__/screenshot.css
  docs/__tests__/screenshot.spec.ts
  docs/__tests__/utils.ts
  docs/blog/2022-06-22-welcome/index.mdx
  docs/blog/2023-04-10-interactive-keyboard/index.mdx
  docs/blog/2023-08-25-enhanced-metadata/index.mdx
  docs/package.json
  docs/playwright.config.ts
  docs/src/components/ComparisonTable/index.tsx
  docs/src/components/HomepageFeatures/index.tsx
  docs/yarn.lock
Labels: documentation, CI, e2e
