Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2023-09, with the labels that each got.

#149 fix: react-native-navigation integration
  README.md
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/ViewGroup.kt
  android/src/main/java/com/reactnativekeyboardcontroller/modules/KeyboardControllerModuleImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/EdgeToEdgeReactViewGroup.kt
Labels: 🐛 bug, 🤖 android

#215 refactor: migrate from deprecated `RCTEventEmitter`
  android/src/main/java/com/reactnativekeyboardcontroller/KeyboardAnimationCallback.kt
  android/src/main/java/com/reactnativekeyboardcontroller/events/KeyboardTransitionEvent.kt
  docs/docs/guides/compatibility.md
Labels: documentation, 🤖 android, refactor

#229 feat: components
  FabricExample/src/constants/screenNames.ts
  FabricExample/src/navigation/ExamplesStack/index.tsx
  FabricExample/src/screens/Examples/KeyboardAvoidingView/index.tsx
  FabricExample/src/screens/Examples/KeyboardAvoidingView/styles.ts
  FabricExample/src/screens/Examples/Main/constants.ts
  FabricExample/src/screens/Examples/Main/index.tsx
  docs/docs/api/components/_category_.json
  docs/docs/api/components/keyboard-avoiding-view.mdx
  docs/docs/api/hooks/_category_.json
  docs/src/components/KeyboardAvoidingViewComparison/index.tsx
  docs/src/components/KeyboardAvoidingViewComparison/kav-animated.lottie.json
  docs/src/components/KeyboardAvoidingViewComparison/kav.lottie.json
  example/src/constants/screenNames.ts
  example/src/navigation/ExamplesStack/index.tsx
  example/src/screens/Examples/KeyboardAvoidingView/index.tsx
  example/src/screens/Examples/KeyboardAvoidingView/styles.ts
  example/src/screens/Examples/Main/constants.ts
  example/src/screens/Examples/Main/index.tsx
  src/components/KeyboardAvoidingView/hooks.ts
  src/components/KeyboardAvoidingView/index.tsx
  src/components/index.ts
  src/index.ts
Labels: documentation, enhancement, 📚 components

#230 docs: blogpost 1.7.0
  docs/blog/2023-09-08-components/index.mdx
Labels: documentation

#231 chore: release 1.7.0
  FabricExample/ios/Podfile.lock
  FabricExample/src/screens/Examples/KeyboardAvoidingView/index.tsx
  example/ios/Podfile.lock
  example/src/screens/Examples/KeyboardAvoidingView/index.tsx
  package.json
Labels: release

#237 docs: update key features
  README.md
Labels: documentation

#236 chore: add reanimated chat flatlist example
  example/src/constants/screenNames.ts
  example/src/navigation/ExamplesStack/index.tsx
  example/src/screens/Examples/Main/constants.ts
  example/src/screens/Examples/ReanimatedChatFlatlist/index.tsx
  example/src/screens/Examples/ReanimatedChatFlatlist/styles.ts
Labels: example

#239 fix: return `KeyboardAvoidingView` to its initial size after keyboard closing
  FabricExample/src/screens/Examples/KeyboardAvoidingView/index.tsx
  FabricExample/src/screens/Examples/KeyboardAvoidingView/styles.ts
  example/src/screens/Examples/KeyboardAvoidingView/index.tsx
  example/src/screens/Examples/KeyboardAvoidingView/styles.ts
  src/components/KeyboardAvoidingView/hooks.ts
  src/components/KeyboardAvoidingView/index.tsx
Labels: 🐛 bug, 📚 components

#227 feat: enabled
  FabricExample/src/constants/screenNames.ts
  FabricExample/src/navigation/ExamplesStack/index.tsx
  FabricExample/src/screens/Examples/EnabledDisabled/index.tsx
  FabricExample/src/screens/Examples/Main/constants.ts
  android/src/fabric/java/com/reactnativekeyboardcontroller/KeyboardControllerViewManager.kt
  android/src/main/java/com/reactnativekeyboardcontroller/managers/KeyboardControllerViewManagerImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/EdgeToEdgeReactViewGroup.kt
  android/src/paper/java/com/reactnativekeyboardcontroller/KeyboardControllerViewManager.kt
  docs/docs/api/hooks/keyboard/_category_.json
  docs/docs/api/hooks/keyboard/use-keyboard-animation.md
  docs/docs/api/hooks/keyboard/use-keyboard-handler/end.png
  docs/docs/api/hooks/keyboard/use-keyboard-handler/index.mdx
  docs/docs/api/hooks/keyboard/use-keyboard-handler/interactive.png
  docs/docs/api/hooks/keyboard/use-keyboard-handler/move.png
  docs/docs/api/hooks/keyboard/use-keyboard-handler/start.png
  docs/docs/api/hooks/keyboard/use-reanimated-keyboard-animation.md
  docs/docs/api/hooks/module/_category_.json
  docs/docs/api/hooks/module/use-keyboard-controller.md
  docs/docs/api/keyboard-controller-view.md
  docs/docs/api/keyboard-provider.md
  docs/docs/guides/first-animation.md
  docs/docs/guides/interactive-keyboard.md
  docs/docs/recipes/platform-differences.md
  example/src/constants/screenNames.ts
  example/src/navigation/ExamplesStack/index.tsx
  example/src/screens/Examples/EnabledDisabled/index.tsx
  example/src/screens/Examples/Main/constants.ts
  ios/KeyboardControllerView.mm
  ios/KeyboardControllerViewManager.mm
  ios/KeyboardControllerViewManager.swift
  src/animated.tsx
  src/context.ts
  src/hooks.ts
  src/index.ts
  src/monkey-patch.android.ts
  src/monkey-patch.ts
  src/specs/KeyboardControllerViewNativeComponent.ts
  src/types.ts
Labels: enhancement

#244 fix: async view removal from `onDetachedFromWindow`
  FabricExample/android/app/src/main/AndroidManifest.xml
  FabricExample/src/App.tsx
  android/src/main/java/com/reactnativekeyboardcontroller/views/EdgeToEdgeReactViewGroup.kt
  example/android/app/src/main/AndroidManifest.xml
  example/src/App.tsx
Labels: 🤖 android, 🎯 crash

#247 docs: checkout `1.8.0` version
  docs/docusaurus.config.js
  docs/versioned_docs/version-1.8.0/api/_category_.json
  docs/versioned_docs/version-1.8.0/api/components/_category_.json
  docs/versioned_docs/version-1.8.0/api/components/keyboard-avoiding-view.mdx
  docs/versioned_docs/version-1.8.0/api/hooks/_category_.json
  docs/versioned_docs/version-1.8.0/api/hooks/keyboard/_category_.json
  docs/versioned_docs/version-1.8.0/api/hooks/keyboard/use-keyboard-animation.md
  docs/versioned_docs/version-1.8.0/api/hooks/keyboard/use-keyboard-handler/end.png
  docs/versioned_docs/version-1.8.0/api/hooks/keyboard/use-keyboard-handler/index.mdx
  docs/versioned_docs/version-1.8.0/api/hooks/keyboard/use-keyboard-handler/interactive.png
  docs/versioned_docs/version-1.8.0/api/hooks/keyboard/use-keyboard-handler/move.png
  docs/versioned_docs/version-1.8.0/api/hooks/keyboard/use-keyboard-handler/start.png
  docs/versioned_docs/version-1.8.0/api/hooks/keyboard/use-reanimated-keyboard-animation.md
  docs/versioned_docs/version-1.8.0/api/hooks/module/_category_.json
  docs/versioned_docs/version-1.8.0/api/hooks/module/use-keyboard-controller.md
  docs/versioned_docs/version-1.8.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.8.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.8.0/api/keyboard-events.md
  docs/versioned_docs/version-1.8.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.8.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.8.0/guides/_category_.json
  docs/versioned_docs/version-1.8.0/guides/building-own-hook.md
  docs/versioned_docs/version-1.8.0/guides/compatibility.md
  docs/versioned_docs/version-1.8.0/guides/first-animation.md
  docs/versioned_docs/version-1.8.0/guides/interactive-keyboard.md
  docs/versioned_docs/version-1.8.0/installation.md
  docs/versioned_docs/version-1.8.0/recipes/_category_.json
  docs/versioned_docs/version-1.8.0/recipes/architecture.md
  docs/versioned_docs/version-1.8.0/recipes/jest-testing-guide.md
  docs/versioned_docs/version-1.8.0/recipes/platform-differences.md
  docs/versioned_sidebars/version-1.8.0-sidebars.json
  docs/versions.json
Labels: documentation
