Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2024-09, with the labels that each got.

#575 fix: mount handlers when view is not mounted yet
  src/internal.ts
Labels: 🐛 bug

#577 perf: use custom logger class
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/EditText.kt
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/ThemedReactContext.kt
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/View.kt
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/KeyboardAnimationCallback.kt
  android/src/main/java/com/reactnativekeyboardcontroller/log/Logger.kt
  android/src/main/java/com/reactnativekeyboardcontroller/modal/ModalAttachedWatcher.kt
  android/src/main/java/com/reactnativekeyboardcontroller/modules/StatusBarManagerCompatModuleImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/EdgeToEdgeReactViewGroup.kt
Labels: 🤖 android, 🚀 optimization

#581 ci: use ccache instead of buildcache
  .github/workflows/build-ios-fabric.yml
  .github/workflows/build-ios.yml
  .github/workflows/ios-e2e-test.yml
  FabricExample/ios/KeyboardControllerFabricExample.xcodeproj/project.pbxproj
  FabricExample/ios/Podfile
  FabricExample/ios/Podfile.lock
  example/ios/KeyboardControllerExample.xcodeproj/project.pbxproj
  example/ios/Podfile
  example/ios/Podfile.lock
Labels: CI

#579 fix: detached worklet handlers on Fabric when `StrictMode` enabled
  src/hooks/index.ts
  src/hooks/useSyncEffect/__tests__/index.spec.ts
  src/hooks/useSyncEffect/index.ts
Labels: 🐛 bug, 🏭 fabric

#580 chore: release 1.13.4
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#583 docs: hoverable keyboard (interactive animation)
  .eslintrc.cjs
  cspell.json
  docs/docs/api/hooks/input/use-focused-input-handler.mdx
  docs/src/components/HoverableKeyboard/HoverableKeyboardSVG.tsx
  docs/src/components/HoverableKeyboard/index.tsx
  docs/src/css/custom.css
  docs/versioned_docs/version-1.12.0/api/hooks/input/use-focused-input-handler.mdx
  docs/versioned_docs/version-1.13.0/api/hooks/input/use-focused-input-handler.mdx
Labels: documentation

#586 chore: react-native 0.75.3
  FabricExample/ios/Podfile.lock
  FabricExample/package.json
  FabricExample/yarn.lock
  example/ios/KeyboardControllerExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  yarn.lock
Labels: deps update

#589 feat: over keyboard view
  FabricExample/__tests__/__snapshots__/components-rendering.spec.tsx.snap
  FabricExample/__tests__/components-rendering.spec.tsx
  FabricExample/src/constants/screenNames.ts
  FabricExample/src/navigation/ExamplesStack/index.tsx
  FabricExample/src/screens/Examples/Main/constants.ts
  FabricExample/src/screens/Examples/OverKeyboardView/index.tsx
  README.md
  android/src/fabric/java/com/reactnativekeyboardcontroller/OverKeyboardViewManager.kt
  android/src/main/java/com/reactnativekeyboardcontroller/KeyboardControllerPackage.kt
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/Context.kt
  android/src/main/java/com/reactnativekeyboardcontroller/managers/OverKeyboardViewManagerImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/overlay/OverKeyboardHostShadowNode.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/overlay/OverKeyboardViewGroup.kt
  android/src/paper/java/com/reactnativekeyboardcontroller/OverKeyboardViewManager.kt
  cspell.json
  docs/docs/api/over-keyboard-view/index.mdx
  docs/docs/api/over-keyboard-view/over-keyboard-view.lottie.json
  docs/docs/recipes/architecture.mdx
  e2e/kit/011-over-keyboard-view.e2e.ts
  e2e/kit/assets/android/e2e_emulator_28/OverKeyboardViewHiddenWithKeyboard.png
  e2e/kit/assets/android/e2e_emulator_28/OverKeyboardViewNotShown.png
  e2e/kit/assets/android/e2e_emulator_28/OverKeyboardViewShown.png
  e2e/kit/assets/android/e2e_emulator_28/OverKeyboardViewShownWithKeyboard.png
  e2e/kit/assets/android/e2e_emulator_31/OverKeyboardViewHiddenWithKeyboard.png
  e2e/kit/assets/android/e2e_emulator_31/OverKeyboardViewNotShown.png
  e2e/kit/assets/android/e2e_emulator_31/OverKeyboardViewShown.png
  e2e/kit/assets/android/e2e_emulator_31/OverKeyboardViewShownWithKeyboard.png
  example/__tests__/__snapshots__/components-rendering.spec.tsx.snap
  example/__tests__/components-rendering.spec.tsx
  example/src/constants/screenNames.ts
  example/src/navigation/ExamplesStack/index.tsx
  example/src/screens/Examples/Main/constants.ts
  example/src/screens/Examples/OverKeyboardView/index.tsx
  ios/KeyboardController-Bridging-Header.h
  ios/extensions/UIWindow.swift
  ios/views/OverKeyboardViewManager.h
  ios/views/OverKeyboardViewManager.mm
  jest/index.js
  package.json
  src/bindings.native.ts
  src/bindings.ts
  src/index.ts
  src/specs/OverKeyboardViewNativeComponent.ts
  src/types.ts
  src/views/OverKeyboardView/index.tsx
  src/views/index.ts
Labels: documentation, enhancement, e2e, tests, OverKeyboardView

#590 fix: `KeyboardToolbar` in `Modal` on Android
  android/src/main/java/com/reactnativekeyboardcontroller/modules/KeyboardControllerModuleImpl.kt
Labels: 🐛 bug, 🤖 android, 🌎 modal, KeyboardToolbar

#595 fix: `KeyboardAwareScrollView` + gesture-handler
  docs/docs/api/components/keyboard-aware-scroll-view.mdx
  src/components/KeyboardAwareScrollView/index.tsx
Labels: documentation, KeyboardAwareScrollView 📜

#597 chore: update swiftlint
  cspell.json
  ios/.swiftlint.yml
  ios/extensions/UIResponder.swift
  package.json
Labels: 🍎 iOS, 🚀 optimization

#596 chore: update ktlint
  .github/workflows/verify-android.yml
  android/.editorconfig
  android/src/fabric/java/com/reactnativekeyboardcontroller/KeyboardControllerModule.kt
  android/src/fabric/java/com/reactnativekeyboardcontroller/KeyboardControllerViewManager.kt
  android/src/fabric/java/com/reactnativekeyboardcontroller/KeyboardGestureAreaViewManager.kt
  android/src/fabric/java/com/reactnativekeyboardcontroller/OverKeyboardViewManager.kt
  android/src/fabric/java/com/reactnativekeyboardcontroller/StatusBarManagerCompatModule.kt
  android/src/main/java/com/reactnativekeyboardcontroller/KeyboardControllerPackage.kt
  android/src/main/java/com/reactnativekeyboardcontroller/events/FocusedInputLayoutChangedEvent.kt
  android/src/main/java/com/reactnativekeyboardcontroller/events/FocusedInputSelectionChangedEvent.kt
  android/src/main/java/com/reactnativekeyboardcontroller/events/FocusedInputTextChangedEvent.kt
  android/src/main/java/com/reactnativekeyboardcontroller/events/KeyboardTransitionEvent.kt
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/EditText.kt
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/ReactContext.kt
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/ThemedReactContext.kt
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/View.kt
  android/src/main/java/com/reactnativekeyboardcontroller/interactive/KeyboardAnimationController.kt
  android/src/main/java/com/reactnativekeyboardcontroller/interactive/interpolators/Interpolator.kt
  android/src/main/java/com/reactnativekeyboardcontroller/interactive/interpolators/IosInterpolator.kt
  android/src/main/java/com/reactnativekeyboardcontroller/interactive/interpolators/LinearInterpolator.kt
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/FocusedInputObserver.kt
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/KeyboardAnimationCallback.kt
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/WindowDimensionListener.kt
  android/src/main/java/com/reactnativekeyboardcontroller/log/Logger.kt
  android/src/main/java/com/reactnativekeyboardcontroller/managers/KeyboardControllerViewManagerImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/managers/KeyboardGestureAreaViewManagerImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/managers/OverKeyboardViewManagerImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/modal/ModalAttachedWatcher.kt
  android/src/main/java/com/reactnativekeyboardcontroller/modules/KeyboardControllerModuleImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/modules/StatusBarManagerCompatModuleImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/traversal/FocusedInputHolder.kt
  android/src/main/java/com/reactnativekeyboardcontroller/traversal/ViewHierarchyNavigator.kt
  android/src/main/java/com/reactnativekeyboardcontroller/ui/FrameScheduler.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/EdgeToEdgeReactViewGroup.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/KeyboardGestureAreaReactViewGroup.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/overlay/OverKeyboardHostShadowNode.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/overlay/OverKeyboardViewGroup.kt
  android/src/paper/java/com/reactnativekeyboardcontroller/KeyboardControllerModule.kt
  android/src/paper/java/com/reactnativekeyboardcontroller/KeyboardControllerViewManager.kt
  android/src/paper/java/com/reactnativekeyboardcontroller/KeyboardGestureAreaViewManager.kt
  android/src/paper/java/com/reactnativekeyboardcontroller/OverKeyboardViewManager.kt
  android/src/paper/java/com/reactnativekeyboardcontroller/StatusBarManagerCompatModule.kt
  android/src/test/java/com/reactnativekeyboardcontroller/traversal/ViewHierarchyNavigatorTest.kt
  package.json
Labels: 🤖 android, CI

#598 fix: invisible `ScrollView` when `OverKeyboardView` is used
  src/views/OverKeyboardView/index.tsx
Labels: 🐛 bug, OverKeyboardView

#602 fix: non working `GestureDetector` inside `OverKeyboardView`
  src/views/OverKeyboardView/index.tsx
Labels: 🐛 bug, 🤖 android, OverKeyboardView

#599 feat: image gallery example (shared element transition with `OverKeyboardView`)
  FabricExample/src/constants/screenNames.ts
  FabricExample/src/navigation/ExamplesStack/index.tsx
  FabricExample/src/screens/Examples/ImageGallery/index.tsx
  FabricExample/src/screens/Examples/Main/constants.ts
  example/src/constants/screenNames.ts
  example/src/navigation/ExamplesStack/index.tsx
  example/src/screens/Examples/ImageGallery/index.tsx
  example/src/screens/Examples/Main/constants.ts
Labels: example, OverKeyboardView

#603 Make KeyboardToolbar inherit ViewProps & export default toolbar height
  docs/docs/api/components/keyboard-toolbar/index.mdx
  src/components/KeyboardToolbar/index.tsx
Labels: documentation, KeyboardToolbar

#606 docs: add info about view props inheritance to `KeyboardAvoidingView` page
  docs/docs/api/components/keyboard-avoiding-view.mdx
  docs/versioned_docs/version-1.10.0/api/components/keyboard-avoiding-view.mdx
  docs/versioned_docs/version-1.11.0/api/components/keyboard-avoiding-view.mdx
  docs/versioned_docs/version-1.12.0/api/components/keyboard-avoiding-view.mdx
  docs/versioned_docs/version-1.13.0/api/components/keyboard-avoiding-view.mdx
  docs/versioned_docs/version-1.7.0/api/components/keyboard-avoiding-view.mdx
  docs/versioned_docs/version-1.8.0/api/components/keyboard-avoiding-view.mdx
  docs/versioned_docs/version-1.9.0/api/components/keyboard-avoiding-view.mdx
Labels: documentation, KeyboardAvoidingView 🧪

#607 docs: unify prop inheritance style for `KeyboardAwareScrollView` component
  docs/docs/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.10.0/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.11.0/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.12.0/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.13.0/api/components/keyboard-aware-scroll-view.mdx
Labels: documentation, KeyboardAwareScrollView 📜

#608 fix: `KeyboardToolbar` view props inheritance
  docs/docs/api/components/keyboard-toolbar/index.mdx
  src/components/KeyboardToolbar/index.tsx
Labels: documentation, 📚 components, KeyboardToolbar

#609 refactor: `OverKeyboardView` (variable names, manager interfaces)
  android/src/fabric/java/com/reactnativekeyboardcontroller/OverKeyboardViewManager.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/overlay/OverKeyboardHostShadowNode.kt
Labels: 🤖 android, refactor, OverKeyboardView

#612 fix: `OverKeyboardView` stretching on Android (fabric)
  src/views/OverKeyboardView/index.tsx
Labels: 🤖 android, 🏭 fabric, OverKeyboardView
