Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2024-10, with the labels that each got.

#604 docs: blogpost for 1.14
  docs/blog/2024-10-01-over-keyboard-view/index.mdx
  docs/static/video/over-keyboard-view-shared-transitions.mp4
Labels: documentation

#610 chore: release 1.14.0
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#614 chore: format `CODE_OF_CONDUCT`
  CODE_OF_CONDUCT.md
Labels: refactor

#617 e2e: stabilise iOS 18 tests
  .github/workflows/ios-e2e-test.yml
Labels: 🍎 iOS, CI, e2e

#621 fix: make `getTopWindow` more robust
  ios/extensions/UIApplication.swift
  ios/extensions/UIWindow.swift
Labels: 🍎 iOS, OverKeyboardView

#620 perf: add xcode tests
  FabricExample/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  FabricExample/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  FabricExample/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  FabricExample/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  FabricExample/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  FabricExample/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  FabricExample/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  FabricExample/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  FabricExample/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  FabricExample/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  FabricExample/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  cspell.json
  example/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  example/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  example/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  example/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  example/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  example/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  ios/KeyboardControllerNative/KeyboardControllerNative.xcodeproj/project.pbxproj
  ios/KeyboardControllerNative/KeyboardControllerNative.xcodeproj/xcshareddata/xcbaselines/0873ED612BB6B7390004F3A4.xcbaseline/1A32030D-32A5-4C54-9D19-E5D6E86658C9.plist
  ios/KeyboardControllerNative/KeyboardControllerNative.xcodeproj/xcshareddata/xcbaselines/0873ED612BB6B7390004F3A4.xcbaseline/Info.plist
  ios/KeyboardControllerNative/KeyboardControllerNative.xcodeproj/xcshareddata/xcschemes/KeyboardControllerNative.xcscheme
  ios/KeyboardControllerNative/KeyboardControllerNative/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/KeyboardControllerNative/KeyboardControllerNative/Assets.xcassets/AppIcon.appiconset/Group 3 (1).png
  ios/KeyboardControllerNative/KeyboardControllerNativeTests/KeyboardControllerNativeTests.swift
  ios/KeyboardControllerNative/KeyboardControllerNativeTests/SpringAnimationPerformanceTest.swift
  ios/KeyboardControllerNative/KeyboardControllerNativeTests/TimingAnimationPerformanceTest.swift
  ios/animations/KeyboardAnimation.swift
Labels: 🍎 iOS, 🚀 optimization, tests

#625 fix: cpplint
  .github/workflows/verify-cpp.yml
Labels: CI

#627 fix: broken `StatusBar` when `Activity` changes
  android/src/main/java/com/reactnativekeyboardcontroller/modules/StatusBarManagerCompatModuleImpl.kt
Labels: 🐛 bug, 🤖 android

#626 fix: install additional iOS runtimes
  .github/workflows/ios-e2e-test.yml
Labels: 🍎 iOS, CI

#623 fix: interactive `KeyboardAvoidingView`
  src/components/KeyboardAvoidingView/hooks.ts
Labels: 🐛 bug, 👆 interactive keyboard, KeyboardAvoidingView 🧪

#630 chore: release 1.14.1
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#634 fix: deprecated `keyWindow` usage
  ios/extensions/UIApplication.swift
  ios/extensions/UIView.swift
Labels: 🍎 iOS, refactor

#633 fix: unmount `OverKeyboardView` from native side
  ios/views/OverKeyboardViewManager.mm
Labels: 🐛 bug, 🍎 iOS, OverKeyboardView

#636 fix: check keyboard presence for `OverKeyboardView`
  ios/extensions/UIView.swift
  ios/extensions/UIWindow.swift
Labels: 🐛 bug, 🍎 iOS, OverKeyboardView

#639 refactor: do not use event names as magic values
  android/src/main/java/com/reactnativekeyboardcontroller/events/FocusedInputLayoutChangedEvent.kt
  android/src/main/java/com/reactnativekeyboardcontroller/events/FocusedInputSelectionChangedEvent.kt
  android/src/main/java/com/reactnativekeyboardcontroller/events/FocusedInputTextChangedEvent.kt
  android/src/main/java/com/reactnativekeyboardcontroller/events/KeyboardTransitionEvent.kt
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/KeyboardAnimationCallback.kt
  android/src/main/java/com/reactnativekeyboardcontroller/managers/KeyboardControllerViewManagerImpl.kt
Labels: 🤖 android, refactor

#642 fix: do not substitute delegate back if it's `nil`
  ios/observers/FocusedInputObserver.swift
Labels: 🐛 bug, 🍎 iOS, focused input 📝

#644 chore: release 1.14.2
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#646 docs: meaningful page description for `OverKeyboardView`
  docs/docs/api/over-keyboard-view/index.mdx
  docs/versioned_docs/version-1.14.0/api/over-keyboard-view/index.mdx
Labels: documentation

#647 docs: troubleshooting page
  docs/docs/installation.mdx
  docs/docs/troubleshooting.md
  docs/versioned_docs/version-1.14.0/installation.mdx
  docs/versioned_docs/version-1.14.0/troubleshooting.md
Labels: documentation

#648 docs: FAQ section
  docs/docs/faq.md
  docs/docs/installation.mdx
  docs/docs/troubleshooting.md
  docs/versioned_docs/version-1.14.0/faq.md
  docs/versioned_docs/version-1.14.0/installation.mdx
  docs/versioned_docs/version-1.14.0/troubleshooting.md
Labels: documentation

#651 chore: use ccache on CI only
  .github/workflows/build-ios-fabric.yml
  .github/workflows/build-ios.yml
  .github/workflows/ios-e2e-test.yml
  FabricExample/ios/KeyboardControllerFabricExample.xcodeproj/project.pbxproj
  FabricExample/ios/Podfile
  FabricExample/ios/Podfile.lock
  example/ios/KeyboardControllerExample.xcodeproj/project.pbxproj
  example/ios/Podfile
  example/ios/Podfile.lock
Labels: 🍎 iOS, CI

#653 fix: external contributors CI
  .github/workflows/size-diff-collect.yml
  .github/workflows/size-diff-post-comment.yml
  .github/workflows/verify-docs.yml
Labels: CI

#658 fix: `OverKeyboardView` compatibility with RN 0.72
  android/src/main/java/com/reactnativekeyboardcontroller/views/overlay/OverKeyboardViewGroup.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/overlay/RootViewCompat.kt
Labels: 🐛 bug, 🤖 android, OverKeyboardView

#660 Detect react-native-edge-to-edge and bypass statusBarTranslucent / navigationBarTranslucent
  FabricExample/yarn.lock
  example/android/app/src/main/res/values/styles.xml
  example/yarn.lock
  package.json
  src/animated.tsx
  yarn.lock
Labels: 🤖 android

#661 fix: bump `react-native-is-edge-to-edge` to fix module resolution
  FabricExample/android/app/src/main/res/values/styles.xml
  FabricExample/yarn.lock
  example/yarn.lock
  package.json
  yarn.lock
Labels: deps update

#662 fix: avoid shared value reads during render
  src/components/KeyboardAvoidingView/hooks.ts
Labels: refactor, KeyboardAvoidingView 🧪

#666 fix: web compatibility
  FabricExample/yarn.lock
  example/yarn.lock
  package.json
  yarn.lock
Labels: 🎯 crash, 🌐 web

#664 chore: release 1.14.3
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#667 fix: google password manager breaks `KeyboardAwareScrollView`
  src/components/KeyboardAwareScrollView/index.tsx
Labels: 🐛 bug, 🤖 android, KeyboardAwareScrollView 📜

#669 Omit useNativeDriver warning on web
  src/animated.tsx
Labels: refactor, 🌐 web
