Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2024-11, with the labels that each got.

#676 chore: release 1.14.4
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#679 fix: `react-native-haptic-feedback` in fabric example app
  .github/workflows/ios-e2e-test.yml
  FabricExample/ios/Podfile.lock
  FabricExample/package.json
  FabricExample/src/screens/Examples/Toolbar/index.tsx
  FabricExample/yarn.lock
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
Labels: 🏭 fabric, example, CI, deps update

#680 refactor: move data extraction from notification to extensions layer
  ios/extensions/Notification.swift
  ios/observers/KeyboardMovementObserver.swift
Labels: 🍎 iOS, refactor

#681 feat(android): add JSPointerDispatcherCompat for RN < 0.72
  android/src/main/java/com/reactnativekeyboardcontroller/views/overlay/JSPointerDispatcherCompat.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/overlay/OverKeyboardViewGroup.kt
Labels: 🐛 bug, 🤖 android

#682 perf: lookup method only once
  android/src/main/java/com/reactnativekeyboardcontroller/views/overlay/JSPointerDispatcherCompat.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/overlay/OverKeyboardViewGroup.kt
Labels: 🤖 android, 🚀 optimization

#685 fix: allow to pass additional params to `.dismiss()` unintentionally
  FabricExample/src/components/KeyboardAnimation/index.tsx
  FabricExample/src/screens/Examples/Close/index.tsx
  example/src/components/KeyboardAnimation/index.tsx
  example/src/screens/Examples/Close/index.tsx
  src/bindings.native.ts
  src/bindings.ts
  src/components/KeyboardToolbar/index.tsx
  src/types.ts
Labels: 🐛 bug, example, KeyboardToolbar

#688 ci: interrupt sudo command in runtime installation
  .github/actions/retry-sudo-with-timeout/action.yml
  .github/workflows/ios-e2e-test.yml
Labels: 🍎 iOS, CI, e2e

#690 e2e: consistent tests across platforms
  docs/docs/api/over-keyboard-view/index.mdx
  docs/versioned_docs/version-1.14.0/api/over-keyboard-view/index.mdx
  e2e/kit/001-keyboard-animation.e2e.ts
  e2e/kit/005-keyboard-toolbar.e2e.ts
  e2e/kit/009-native-stack.e2e.ts
  e2e/kit/011-over-keyboard-view.e2e.ts
  e2e/kit/asserts/index.ts
  e2e/kit/assets/android/e2e_emulator_28/KeyboardAnimationEmojiKeyboard.png
  e2e/kit/assets/android/e2e_emulator_28/NativeStackEmojiKeyboard.png
  e2e/kit/assets/ios/iPhone 13 Pro/KeyboardAnimationEmojiKeyboard.png
  e2e/kit/assets/ios/iPhone 13 Pro/NativeStackEmojiKeyboard.png
  e2e/kit/assets/ios/iPhone 13 Pro/OverKeyboardViewHiddenWithKeyboard.png
  e2e/kit/assets/ios/iPhone 13 Pro/OverKeyboardViewNotShown.png
  e2e/kit/assets/ios/iPhone 13 Pro/OverKeyboardViewShown.png
  e2e/kit/assets/ios/iPhone 13 Pro/OverKeyboardViewShownWithKeyboard.png
  e2e/kit/assets/ios/iPhone 14 Pro/KeyboardAnimationEmojiKeyboard.png
  e2e/kit/assets/ios/iPhone 14 Pro/NativeStackEmojiKeyboard.png
  e2e/kit/assets/ios/iPhone 14 Pro/OverKeyboardViewHiddenWithKeyboard.png
  e2e/kit/assets/ios/iPhone 14 Pro/OverKeyboardViewNotShown.png
  e2e/kit/assets/ios/iPhone 14 Pro/OverKeyboardViewShown.png
  e2e/kit/assets/ios/iPhone 14 Pro/OverKeyboardViewShownWithKeyboard.png
  e2e/kit/assets/ios/iPhone 15 Pro/KeyboardAnimationEmojiKeyboard.png
  e2e/kit/assets/ios/iPhone 15 Pro/NativeStackEmojiKeyboard.png
  e2e/kit/assets/ios/iPhone 15 Pro/OverKeyboardViewHiddenWithKeyboard.png
  e2e/kit/assets/ios/iPhone 15 Pro/OverKeyboardViewNotShown.png
  e2e/kit/assets/ios/iPhone 15 Pro/OverKeyboardViewShown.png
  e2e/kit/assets/ios/iPhone 15 Pro/OverKeyboardViewShownWithKeyboard.png
  e2e/kit/assets/ios/iPhone 16 Pro/KeyboardAnimationEmojiKeyboard.png
  e2e/kit/assets/ios/iPhone 16 Pro/NativeStackEmojiKeyboard.png
  e2e/kit/assets/ios/iPhone 16 Pro/OverKeyboardViewHiddenWithKeyboard.png
  e2e/kit/assets/ios/iPhone 16 Pro/OverKeyboardViewNotShown.png
  e2e/kit/assets/ios/iPhone 16 Pro/OverKeyboardViewShown.png
  e2e/kit/assets/ios/iPhone 16 Pro/OverKeyboardViewShownWithKeyboard.png
  e2e/kit/helpers/actions/index.ts
  e2e/kit/helpers/env/devicePreferences.ts
  e2e/kit/utils/parseDeviceName.ts
  e2e/package.json
  e2e/yarn.lock
Labels: documentation, deps update, e2e

#692 fix: resolve react native dir in monorepo in android build
  android/react-native-helpers.gradle
Labels: 🐛 bug, 🤖 android

#656 chore: react-native 0.76
  FabricExample/android/app/src/main/java/com/keyboardcontrollerfabricexample/MainApplication.kt
  FabricExample/android/build.gradle
  FabricExample/android/gradle.properties
  FabricExample/android/gradle/wrapper/gradle-wrapper.jar
  FabricExample/android/gradle/wrapper/gradle-wrapper.properties
  FabricExample/android/gradlew
  FabricExample/android/gradlew.bat
  FabricExample/ios/KeyboardControllerFabricExample.xcodeproj/project.pbxproj
  FabricExample/ios/Podfile.lock
  FabricExample/package.json
  FabricExample/patches/react-native-screens+3.34.0.patch
  FabricExample/src/screens/Examples/AwareScrollView/index.tsx
  FabricExample/yarn.lock
  android/gradlew
  android/gradlew.bat
  cspell.json
  e2e/kit/assets/android/e2e_emulator_31/AwareScrollViewTextSelectionChanged.png
  example/android/app/src/main/java/com/example/reactnativekeyboardcontroller/MainApplication.kt
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/android/gradlew.bat
  example/ios/KeyboardControllerExample.xcodeproj/project.pbxproj
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/patches/react-native-screens+3.34.0.patch
  example/src/screens/Examples/AwareScrollView/index.tsx
  example/yarn.lock
  package.json
  yarn.lock
Labels: deps update

#691 docs: add info about `MutexLockWithTimeout` exception
  cspell.json
  docs/docs/troubleshooting.md
  docs/versioned_docs/version-1.14.0/troubleshooting.md
Labels: documentation

#696 refactor: reusable `TextInput` protocol
  ios/KeyboardControllerNative/KeyboardControllerNative.xcodeproj/project.pbxproj
  ios/protocols/TextInput.swift
Labels: 🍎 iOS, refactor

#697 chore: release 1.14.5
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#694 feat: new `KeyboardController.isVisible()` method
  docs/docs/api/keyboard-controller.md
  jest/index.js
  src/module.ts
  src/types.ts
Labels: documentation, enhancement, 🚨 requires API changes 🚨

#701 fix: missing update in `useWindowDimensions`
  src/hooks/useWindowDimensions/index.android.ts
Labels: 🐛 bug

#700 fix: `.dismiss()` should trigger a blur on Android
  FabricExample/src/screens/Examples/Close/index.tsx
  android/src/main/java/com/reactnativekeyboardcontroller/modules/KeyboardControllerModuleImpl.kt
  e2e/kit/005-keyboard-toolbar.e2e.ts
  e2e/kit/helpers/awaitable/index.ts
  example/src/screens/Examples/Close/index.tsx
Labels: 🐛 bug, 🤖 android, example, e2e

#704 fix: incorrect `KeyboardStickyView` state when keyboard animation interrupted
  src/animated.tsx
Labels: 🐛 bug, 🤖 android, KeyboardStickyView 🩹

#706 fix: Android specific CI checks
  .github/workflows/verify-android.yml
  android/build.gradle
  android/gradle.properties
Labels: 🤖 android, CI
