Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2024-08, with the labels that each got.

#529 docs: add KeyboardToolBarTheme type example
  docs/docs/api/components/keyboard-toolbar/index.mdx
  docs/versioned_docs/version-1.11.0/api/components/keyboard-toolbar/index.mdx
  docs/versioned_docs/version-1.12.0/api/components/keyboard-toolbar/index.mdx
Labels: documentation, refactor, KeyboardToolbar

#531 feat: new `offset` prop for `KeyboardGestureArea` on Android
  FabricExample/src/screens/Examples/InteractiveKeyboard/index.tsx
  android/src/fabric/java/com/reactnativekeyboardcontroller/KeyboardGestureAreaViewManager.kt
  android/src/main/java/com/reactnativekeyboardcontroller/interactive/interpolators/Interpolator.kt
  android/src/main/java/com/reactnativekeyboardcontroller/interactive/interpolators/IosInterpolator.kt
  android/src/main/java/com/reactnativekeyboardcontroller/interactive/interpolators/LinearInterpolator.kt
  android/src/main/java/com/reactnativekeyboardcontroller/managers/KeyboardGestureAreaViewManagerImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/KeyboardGestureAreaReactViewGroup.kt
  android/src/paper/java/com/reactnativekeyboardcontroller/KeyboardGestureAreaViewManager.kt
  docs/docs/api/keyboard-gesture-area.md
  example/src/screens/Examples/InteractiveKeyboard/index.tsx
  src/specs/KeyboardGestureAreaNativeComponent.ts
  src/types.ts
Labels: enhancement, 🤖 android, 👆 interactive keyboard

#532 feat: allow keyboard toolbar button callbacks to cancel default actions
  docs/docs/api/components/keyboard-toolbar/index.mdx
  src/components/KeyboardToolbar/Button.tsx
  src/components/KeyboardToolbar/index.tsx
Labels: documentation, enhancement, 📚 components, KeyboardToolbar

#533 fix: `KeyboardToolbar` a11y wording
  src/components/KeyboardToolbar/index.tsx
Labels: KeyboardToolbar

#536 docs: added `interactive` keyword to improve SEO search
  docs/docusaurus.config.js
  package.json
Labels: documentation

#539 fix: instant keyboard hide causes `KeyboardAvoidingView` keeping bottom space
  ios/extensions/UIView.swift
  ios/observers/KeyboardMovementObserver.swift
  src/components/KeyboardAvoidingView/hooks.ts
Labels: 🐛 bug, 🍎 iOS, KeyboardAvoidingView 🧪

#538 feat: synchronous handler mount
  .prettierignore
  docs/docs/guides/compatibility.md
  package.json
  src/animated.tsx
  src/context.ts
  src/event-handler.js
  src/event-handler.ts
  src/event-mappings.ts
  src/hooks/index.ts
  src/hooks/useSyncEffect/__tests__/index.spec.ts
  src/hooks/useSyncEffect/index.ts
  src/internal.ts
  src/reanimated.native.ts
  src/reanimated.ts
  src/types.ts
  src/utils.ts
  yarn.lock
Labels: 🚀 optimization, refactor, tests

#541 fix: web compilation
  src/event-handler.web.js
Labels: 🐛 bug, 🌐 web

#543 docs: hook names truncated in menu bar
  docs/src/css/custom.css
Labels: documentation

#544 docs: use docusaurus 3.4.0
  docs/package.json
  docs/yarn.lock
Labels: documentation, deps update

#537 docs: blogpost for `1.13.0`
  docs/blog/2024-08-16-release-1-13/index.mdx
  docs/docs/api/components/keyboard-sticky-view/index.mdx
  docs/docusaurus.config.js
  docs/src/components/ComparisonTable/index.tsx
  docs/src/components/KeyboardAvoidingViewComparison/index.tsx
  docs/src/components/Lottie/index.tsx
  docs/static/video/keyboard-gesture-area-with-offset.mp4
  docs/static/video/keyboard-gesture-area-without-offset.mp4
  docs/static/video/modal-integration-demo.mp4
  docs/versioned_docs/version-1.10.0/api/components/keyboard-sticky-view/index.mdx
  docs/versioned_docs/version-1.11.0/api/components/keyboard-sticky-view/index.mdx
  docs/versioned_docs/version-1.12.0/api/components/keyboard-sticky-view/index.mdx
  docs/versioned_docs/version-1.9.0/api/components/keyboard-sticky-view/index.mdx
Labels: documentation

#549 docs: checkout 1.13.0
  docs/docusaurus.config.js
  docs/versioned_docs/version-1.13.0/api/_category_.json
  docs/versioned_docs/version-1.13.0/api/components/_category_.json
  docs/versioned_docs/version-1.13.0/api/components/keyboard-avoiding-view.mdx
  docs/versioned_docs/version-1.13.0/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.13.0/api/components/keyboard-sticky-view/index.mdx
  docs/versioned_docs/version-1.13.0/api/components/keyboard-sticky-view/ksv.lottie.json
  docs/versioned_docs/version-1.13.0/api/components/keyboard-toolbar/index.mdx
  docs/versioned_docs/version-1.13.0/api/components/keyboard-toolbar/toolbar.lottie.json
  docs/versioned_docs/version-1.13.0/api/hooks/_category_.json
  docs/versioned_docs/version-1.13.0/api/hooks/input/_category_.json
  docs/versioned_docs/version-1.13.0/api/hooks/input/use-focused-input-handler.mdx
  docs/versioned_docs/version-1.13.0/api/hooks/input/use-reanimated-focused-input.md
  docs/versioned_docs/version-1.13.0/api/hooks/keyboard/_category_.json
  docs/versioned_docs/version-1.13.0/api/hooks/keyboard/use-keyboard-animation.md
  docs/versioned_docs/version-1.13.0/api/hooks/keyboard/use-keyboard-handler/end.png
  docs/versioned_docs/version-1.13.0/api/hooks/keyboard/use-keyboard-handler/index.mdx
  docs/versioned_docs/version-1.13.0/api/hooks/keyboard/use-keyboard-handler/interactive.png
  docs/versioned_docs/version-1.13.0/api/hooks/keyboard/use-keyboard-handler/move.png
  docs/versioned_docs/version-1.13.0/api/hooks/keyboard/use-keyboard-handler/start.png
  docs/versioned_docs/version-1.13.0/api/hooks/keyboard/use-reanimated-keyboard-animation.md
  docs/versioned_docs/version-1.13.0/api/hooks/module/_category_.json
  docs/versioned_docs/version-1.13.0/api/hooks/module/use-keyboard-controller.md
  docs/versioned_docs/version-1.13.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.13.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.13.0/api/keyboard-events.md
  docs/versioned_docs/version-1.13.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.13.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.13.0/guides/_category_.json
  docs/versioned_docs/version-1.13.0/guides/building-own-hook.md
  docs/versioned_docs/version-1.13.0/guides/compatibility.md
  docs/versioned_docs/version-1.13.0/guides/first-animation.md
  docs/versioned_docs/version-1.13.0/guides/interactive-keyboard.mdx
  docs/versioned_docs/version-1.13.0/installation.mdx
  docs/versioned_docs/version-1.13.0/recipes/_category_.json
  docs/versioned_docs/version-1.13.0/recipes/architecture.md
  docs/versioned_docs/version-1.13.0/recipes/jest-testing-guide.md
  docs/versioned_docs/version-1.13.0/recipes/platform-differences.md
  docs/versioned_sidebars/version-1.13.0-sidebars.json
  docs/versions.json
Labels: documentation

#548 chore: release 1.13.0
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#552 fix: compilation race condition
  src/event-handler.d.ts
Labels: 🎯 crash

#550 fix: android rotate
  FabricExample/src/constants/screenNames.ts
  FabricExample/src/navigation/BottomTabBar/index.tsx
  FabricExample/src/navigation/ExamplesStack/index.tsx
  FabricExample/src/screens/Examples/Main/constants.ts
  android/src/main/java/com/reactnativekeyboardcontroller/views/EdgeToEdgeReactViewGroup.kt
  e2e/kit/010-bottom-tab-bar-rotation.e2e.ts
  e2e/kit/assets/android/e2e_emulator_28/BottomTabBarKeyboardIsHidden.png
  e2e/kit/assets/android/e2e_emulator_28/BottomTabBarKeyboardIsShown.png
  e2e/kit/assets/android/e2e_emulator_28/BottomTabBarLandscape.png
  e2e/kit/assets/android/e2e_emulator_28/BottomTabBarPortrait.png
  e2e/kit/assets/android/e2e_emulator_28/BottomTabBarPortraitAgain.png
  e2e/kit/assets/android/e2e_emulator_31/BottomTabBarKeyboardIsHidden.png
  e2e/kit/assets/android/e2e_emulator_31/BottomTabBarKeyboardIsShown.png
  e2e/kit/assets/android/e2e_emulator_31/BottomTabBarLandscape.png
  e2e/kit/assets/android/e2e_emulator_31/BottomTabBarPortrait.png
  e2e/kit/assets/android/e2e_emulator_31/BottomTabBarPortraitAgain.png
  e2e/kit/assets/ios/iPhone 14 Pro/BottomTabBarKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 14 Pro/BottomTabBarKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 14 Pro/BottomTabBarLandscape.png
  e2e/kit/assets/ios/iPhone 14 Pro/BottomTabBarPortrait.png
  e2e/kit/assets/ios/iPhone 14 Pro/BottomTabBarPortraitAgain.png
  e2e/kit/assets/ios/iPhone 14/BottomTabBarKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 14/BottomTabBarKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 14/BottomTabBarLandscape.png
  e2e/kit/assets/ios/iPhone 14/BottomTabBarPortrait.png
  e2e/kit/assets/ios/iPhone 14/BottomTabBarPortraitAgain.png
  e2e/kit/assets/ios/iPhone 15 Pro/BottomTabBarKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 15 Pro/BottomTabBarKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 15 Pro/BottomTabBarLandscape.png
  e2e/kit/assets/ios/iPhone 15 Pro/BottomTabBarPortrait.png
  e2e/kit/assets/ios/iPhone 15 Pro/BottomTabBarPortraitAgain.png
  example/src/constants/screenNames.ts
  example/src/navigation/BottomTabBar/index.tsx
  example/src/navigation/ExamplesStack/index.tsx
  example/src/screens/Examples/Main/constants.ts
Labels: 🐛 bug, 🤖 android

#553 chore: release 1.13.1
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#556 refactor: reduce code duplication in `KeyboardMovementObserver`
  ios/observers/KeyboardMovementObserver.swift
Labels: 🍎 iOS, refactor

#554 chore: bump react-native to 0.75.2
  FabricExample/ios/Podfile.lock
  FabricExample/package.json
  FabricExample/patches/@react-navigation+native-stack+6.11.0.patch
  FabricExample/patches/react-native+0.75.0-rc.6.patch
  FabricExample/patches/react-native-screens+3.34.0.patch
  FabricExample/src/navigation/NestedStack/index.tsx
  FabricExample/yarn.lock
  cspell.json
  e2e/kit/assets/android/e2e_emulator_28/AvoidingViewRNPaddingClosed.png
  e2e/kit/assets/android/e2e_emulator_31/AvoidingViewRNPaddingClosed.png
  example/ios/Podfile.lock
  example/package.json
  example/patches/@react-navigation+native-stack+6.11.0.patch
  example/patches/react-native+0.75.0-rc.6.patch
  example/patches/react-native-screens+3.34.0.patch
  example/src/navigation/NestedStack/index.tsx
  example/yarn.lock
  package.json
  yarn.lock
Labels: deps update

#558 fix: e2e iOS 18 tests
  e2e/.detoxrc.js
Labels: CI, e2e

#559 e2e: test on iOS 15
  .github/workflows/ios-e2e-test.yml
  e2e/.detoxrc.js
  e2e/kit/assets/ios/iPhone 13 Pro/AvoidingViewPackagePaddingClosed.png
  e2e/kit/assets/ios/iPhone 13 Pro/AvoidingViewPackagePaddingInitial.png
  e2e/kit/assets/ios/iPhone 13 Pro/AvoidingViewPackagePaddingOpened.png
  e2e/kit/assets/ios/iPhone 13 Pro/AvoidingViewRNPaddingClosed.png
  e2e/kit/assets/ios/iPhone 13 Pro/AvoidingViewRNPaddingInitial.png
  e2e/kit/assets/ios/iPhone 13 Pro/AvoidingViewRNPaddingOpened.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewDisabledStateKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewDisabledStateKeyboardOpened.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewFirstInputFocused.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewFirstInputGrown.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewInputChanged.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewKeyboardClosedWithoutBackScroll.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewSecondInputFocused.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewTextChanged.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewTextSelectionChanged.png
  e2e/kit/assets/ios/iPhone 13 Pro/BottomTabBarKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 13 Pro/BottomTabBarKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 13 Pro/BottomTabBarLandscape.png
  e2e/kit/assets/ios/iPhone 13 Pro/BottomTabBarPortrait.png
  e2e/kit/assets/ios/iPhone 13 Pro/BottomTabBarPortraitAgain.png
  e2e/kit/assets/ios/iPhone 13 Pro/DisabledKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 13 Pro/DisabledKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 13 Pro/EnabledKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 13 Pro/EnabledKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 13 Pro/InteractiveKeyboardAfterGestureDown.png
  e2e/kit/assets/ios/iPhone 13 Pro/InteractiveKeyboardAfterGestureUp.png
  e2e/kit/assets/ios/iPhone 13 Pro/InteractiveKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 13 Pro/KeyboardAnimationKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 13 Pro/KeyboardAnimationKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 13 Pro/ModalKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 13 Pro/ModalKeyboardOpened.png
  e2e/kit/assets/ios/iPhone 13 Pro/NativeStackKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 13 Pro/NativeStackKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 13 Pro/ToolbarAllButtonsEnabled.png
  e2e/kit/assets/ios/iPhone 13 Pro/ToolbarFirstInputFocused.png
  e2e/kit/assets/ios/iPhone 13 Pro/ToolbarKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 13 Pro/ToolbarLastInputFocused.png
  e2e/package.json
Labels: CI, e2e

#557 fix: properly report height for `didShow` event happening during animation
  ios/observers/KeyboardMovementObserver.swift
Labels: 🐛 bug, 🍎 iOS

#560 chore: release 1.13.2
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#564 feat: add load method
  ios/views/KeyboardControllerView.mm
Labels: 🐛 bug, 🍎 iOS, 🏭 fabric

#567 docs: comparison with `useAnimatedKeyboard`
  cspell.json
  docs/docs/guides/first-animation.md
  docs/docs/installation.mdx
  docs/docs/recipes/architecture.md
  docs/docs/recipes/architecture.mdx
  docs/versioned_docs/version-1.13.0/guides/first-animation.md
  docs/versioned_docs/version-1.13.0/installation.mdx
  docs/versioned_docs/version-1.13.0/recipes/architecture.md
  docs/versioned_docs/version-1.13.0/recipes/architecture.mdx
Labels: documentation

#566 fix: ignore non scrollable ScrollView's for `parentScrollViewTarget`
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/EditText.kt
  ios/extensions/UIResponder.swift
Labels: 🤖 android, 🍎 iOS, focused input 📝

#568 e2e: better stability of `BottomTabBarRotation` test
  e2e/kit/010-bottom-tab-bar-rotation.e2e.ts
Labels: e2e

#570 fix: keyboard animation if cross-fade transitions enabled on iOS
  ios/extensions/UIView.swift
  ios/observers/KeyboardMovementObserver.swift
Labels: 🐛 bug, 🍎 iOS

#571 chore: release 1.13.3
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#573 docs: various fixes after self review
  docs/blog/2022-09-22-fabric/index.md
  docs/docs/api/keyboard-controller-view.md
  docs/docs/api/keyboard-controller.md
  docs/docs/api/keyboard-gesture-area.md
  docs/docs/api/keyboard-provider.md
  docs/versioned_docs/version-1.0.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.0.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.10.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.10.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.10.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.10.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.11.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.11.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.11.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.11.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.12.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.12.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.12.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.12.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.13.0/api/components/keyboard-sticky-view/index.mdx
  docs/versioned_docs/version-1.13.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.13.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.13.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.13.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.4.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.4.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.5.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.5.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.5.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.6.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.6.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.6.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.7.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.7.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.7.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.8.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.8.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.8.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.9.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.9.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.9.0/api/keyboard-provider.md
Labels: documentation
