Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2024-05, with the labels that each got.

#412 feat: eliminate one frame delay in `onMove` handler on iOS
  FabricExample/ios/Podfile.lock
  FabricExample/src/components/KeyboardAnimation/index.tsx
  FabricExample/src/screens/Examples/ReanimatedChatFlatList/index.tsx
  docs/docs/api/hooks/keyboard/use-keyboard-handler/index.mdx
  e2e/kit/assets/android/e2e_emulator/DisabledKeyboardIsHidden.png
  e2e/kit/assets/android/e2e_emulator/DisabledKeyboardIsShown.png
  e2e/kit/assets/android/e2e_emulator/EnabledKeyboardIsHidden.png
  e2e/kit/assets/android/e2e_emulator/EnabledKeyboardIsShown.png
  e2e/kit/assets/android/e2e_emulator/KeyboardAnimationKeyboardIsHidden.png
  e2e/kit/assets/android/e2e_emulator/KeyboardAnimationKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 15 Pro/DisabledKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 15 Pro/DisabledKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 15 Pro/EnabledKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 15 Pro/EnabledKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 15 Pro/KeyboardAnimationKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 15 Pro/KeyboardAnimationKeyboardIsShown.png
  example/ios/KeyboardControllerExample.xcodeproj/xcshareddata/xcschemes/KeyboardControllerExample.xcscheme
  example/ios/Podfile.lock
  example/src/components/KeyboardAnimation/index.tsx
  example/src/screens/Examples/ReanimatedChatFlatList/index.tsx
  ios/core/SpringAnimation.swift
  ios/core/UIUtils.swift
  ios/observers/KeyboardMovementObserver.swift
  ios/views/KeyboardControllerViewManager.swift
Labels: documentation, 🍎 iOS, 🚀 optimization

#431 refactor: use `KeyboardAnimation` as common interface for an animation driver
  ios/core/KeyboardAnimation.swift
  ios/core/SpringAnimation.swift
  ios/observers/KeyboardMovementObserver.swift
Labels: 🍎 iOS, refactor

#432 feat: modal example
  FabricExample/src/components/KeyboardAnimation/index.tsx
  FabricExample/src/constants/screenNames.ts
  FabricExample/src/navigation/ExamplesStack/index.tsx
  FabricExample/src/screens/Examples/Main/constants.ts
  FabricExample/src/screens/Examples/Modal/index.tsx
  example/src/components/KeyboardAnimation/index.tsx
  example/src/constants/screenNames.ts
  example/src/navigation/ExamplesStack/index.tsx
  example/src/screens/Examples/Main/constants.ts
  example/src/screens/Examples/Modal/index.tsx
Labels: example, 🌎 modal

#433 docs: `KeyboardAwareScrollView` + `FlatList`
  docs/docs/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.10.0/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.11.0/api/components/keyboard-aware-scroll-view.mdx
Labels: documentation

#426 feat: onSelectionChange
  .prettierignore
  FabricExample/__tests__/focused-input-handler.spec.tsx
  FabricExample/src/constants/screenNames.ts
  FabricExample/src/navigation/ExamplesStack/index.tsx
  FabricExample/src/screens/Examples/FocusedInputHandlers/index.tsx
  FabricExample/src/screens/Examples/Main/constants.ts
  android/src/main/java/com/reactnativekeyboardcontroller/events/FocusedInputSelectionChangedEvent.kt
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/EditText.kt
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/FocusedInputObserver.kt
  android/src/main/java/com/reactnativekeyboardcontroller/managers/KeyboardControllerViewManagerImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/ui/FrameScheduler.kt
  cspell.json
  docs/docs/api/hooks/input/use-focused-input-handler.md
  docs/docs/api/keyboard-controller-view.md
  e2e/kit/003-input-handlers.e2e.ts
  e2e/kit/003-masked-input.e2e.ts
  example/__tests__/focused-input-handler.spec.tsx
  example/src/constants/screenNames.ts
  example/src/navigation/ExamplesStack/index.tsx
  example/src/screens/Examples/FocusedInputHandlers/index.tsx
  example/src/screens/Examples/Main/constants.ts
  example/src/screens/Examples/TextInputMask/index.tsx
  ios/KeyboardController-Bridging-Header.h
  ios/delegates/KCTextInputCompositeDelegate.swift
  ios/events/FocusedInputSelectionChangedEvent.h
  ios/events/FocusedInputSelectionChangedEvent.m
  ios/objc/RCTUITextView+DelegateManager.h
  ios/objc/RCTUITextView+DelegateManager.m
  ios/observers/FocusedInputObserver.swift
  ios/views/KeyboardControllerView.mm
  ios/views/KeyboardControllerViewManager.mm
  ios/views/KeyboardControllerViewManager.swift
  src/animated.tsx
  src/reanimated.native.ts
  src/reanimated.ts
  src/specs/KeyboardControllerViewNativeComponent.ts
  src/types.ts
Labels: documentation, enhancement, e2e, focused input 📝

#436 fix: use `dp` for selection events
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/EditText.kt
Labels: 🐛 bug, 🤖 android, focused input 📝

#435 refactor: `onChangeText` from delegate
  cspell.json
  docs/docs/api/hooks/input/use-focused-input-handler.md
  e2e/kit/003-input-handlers.e2e.ts
  example/patches/react-native-text-input-mask+3.1.5.patch
  ios/delegates/KCTextInputCompositeDelegate.swift
  ios/observers/FocusedInputObserver.swift
  ios/observers/TextChangeObserver.swift
Labels: documentation, 🍎 iOS, refactor, focused input 📝

#437 docs: added an ability to show video demos
  cspell.json
  docs/__tests__/screenshot.css
  docs/docs/api/hooks/input/use-focused-input-handler.mdx
  docs/src/components/Video/index.tsx
  docs/src/css/custom.css
  docs/static/video/selection-demo.mov
Labels: documentation

#440 docs: add API to footer (Docs column)
  docs/docusaurus.config.js
Labels: documentation

#441 docs: checkout docs for 1.12.0
  docs/docusaurus.config.js
  docs/versioned_docs/version-1.12.0/api/_category_.json
  docs/versioned_docs/version-1.12.0/api/components/_category_.json
  docs/versioned_docs/version-1.12.0/api/components/keyboard-avoiding-view.mdx
  docs/versioned_docs/version-1.12.0/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.12.0/api/components/keyboard-sticky-view/index.mdx
  docs/versioned_docs/version-1.12.0/api/components/keyboard-sticky-view/ksv.lottie.json
  docs/versioned_docs/version-1.12.0/api/components/keyboard-toolbar/index.mdx
  docs/versioned_docs/version-1.12.0/api/components/keyboard-toolbar/toolbar.lottie.json
  docs/versioned_docs/version-1.12.0/api/hooks/_category_.json
  docs/versioned_docs/version-1.12.0/api/hooks/input/_category_.json
  docs/versioned_docs/version-1.12.0/api/hooks/input/use-focused-input-handler.mdx
  docs/versioned_docs/version-1.12.0/api/hooks/input/use-reanimated-focused-input.md
  docs/versioned_docs/version-1.12.0/api/hooks/keyboard/_category_.json
  docs/versioned_docs/version-1.12.0/api/hooks/keyboard/use-keyboard-animation.md
  docs/versioned_docs/version-1.12.0/api/hooks/keyboard/use-keyboard-handler/end.png
  docs/versioned_docs/version-1.12.0/api/hooks/keyboard/use-keyboard-handler/index.mdx
  docs/versioned_docs/version-1.12.0/api/hooks/keyboard/use-keyboard-handler/interactive.png
  docs/versioned_docs/version-1.12.0/api/hooks/keyboard/use-keyboard-handler/move.png
  docs/versioned_docs/version-1.12.0/api/hooks/keyboard/use-keyboard-handler/start.png
  docs/versioned_docs/version-1.12.0/api/hooks/keyboard/use-reanimated-keyboard-animation.md
  docs/versioned_docs/version-1.12.0/api/hooks/module/_category_.json
  docs/versioned_docs/version-1.12.0/api/hooks/module/use-keyboard-controller.md
  docs/versioned_docs/version-1.12.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.12.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.12.0/api/keyboard-events.md
  docs/versioned_docs/version-1.12.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.12.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.12.0/guides/_category_.json
  docs/versioned_docs/version-1.12.0/guides/building-own-hook.md
  docs/versioned_docs/version-1.12.0/guides/compatibility.md
  docs/versioned_docs/version-1.12.0/guides/first-animation.md
  docs/versioned_docs/version-1.12.0/guides/interactive-keyboard.mdx
  docs/versioned_docs/version-1.12.0/installation.mdx
  docs/versioned_docs/version-1.12.0/recipes/_category_.json
  docs/versioned_docs/version-1.12.0/recipes/architecture.md
  docs/versioned_docs/version-1.12.0/recipes/jest-testing-guide.md
  docs/versioned_docs/version-1.12.0/recipes/platform-differences.md
  docs/versioned_sidebars/version-1.12.0-sidebars.json
  docs/versions.json
Labels: documentation

#438 docs: blogpost for 1.12.0
  cspell.json
  docs/blog/2024-05-13-release-1-12/index.mdx
Labels: documentation

#444 fix: prevent crash when no first responder
  ios/observers/FocusedInputObserver.swift
Labels: 🍎 iOS, 🎯 crash

#448 docs: update compatibility table
  docs/versioned_docs/version-1.10.0/guides/compatibility.md
  docs/versioned_docs/version-1.11.0/guides/compatibility.md
  docs/versioned_docs/version-1.12.0/guides/compatibility.md
  docs/versioned_docs/version-1.5.0/guides/compatibility.md
  docs/versioned_docs/version-1.6.0/guides/compatibility.md
  docs/versioned_docs/version-1.7.0/guides/compatibility.md
  docs/versioned_docs/version-1.8.0/guides/compatibility.md
  docs/versioned_docs/version-1.9.0/guides/compatibility.md
Labels: documentation

#445 docs: integration with `@gorhom/bottom-sheet`
  cspell.json
  docs/docs/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.12.0/api/components/keyboard-aware-scroll-view.mdx
Labels: documentation

#447 chore: release 1.12.1
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#454 fix: better horizontal `UIScrollView` detection
  ios/Extensions.swift
Labels: 🐛 bug, 🍎 iOS

#455 feat:add keyboardAwareScrollView in scrollBottomOffset
  docs/docs/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.12.0/api/components/keyboard-aware-scroll-view.mdx
  src/components/KeyboardAwareScrollView/index.tsx
Labels: documentation, enhancement, 📚 components, KeyboardAwareScrollView 📜
