Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2024-03, with the labels that each got.

#381 docs: better docs for `windowSoftInputMode` and its cooperation with this library
  docs/docs/api/hooks/module/use-keyboard-controller.md
  docs/docs/api/keyboard-controller.md
  docs/docs/recipes/platform-differences.md
  docs/versioned_docs/version-1.0.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.0.0/recipes/platform-differences.md
  docs/versioned_docs/version-1.10.0/api/hooks/module/use-keyboard-controller.md
  docs/versioned_docs/version-1.10.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.10.0/recipes/platform-differences.md
  docs/versioned_docs/version-1.11.0/api/hooks/module/use-keyboard-controller.md
  docs/versioned_docs/version-1.11.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.11.0/recipes/platform-differences.md
  docs/versioned_docs/version-1.4.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.4.0/recipes/platform-differences.md
  docs/versioned_docs/version-1.5.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.5.0/recipes/platform-differences.md
  docs/versioned_docs/version-1.6.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.6.0/recipes/platform-differences.md
  docs/versioned_docs/version-1.7.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.7.0/recipes/platform-differences.md
  docs/versioned_docs/version-1.8.0/api/hooks/module/use-keyboard-controller.md
  docs/versioned_docs/version-1.8.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.8.0/recipes/platform-differences.md
  docs/versioned_docs/version-1.9.0/api/hooks/module/use-keyboard-controller.md
  docs/versioned_docs/version-1.9.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.9.0/recipes/platform-differences.md
Labels: documentation

#380 fix: android build fail with rnx kit & treeShaking enabled
  .gitignore
  src/components/index.ts
  src/index.ts
  src/monkey-patch.android.ts
Labels: 🐛 bug, 🚀 optimization

#382 fix: do not use `target` property from `onLayout`
  src/components/KeyboardAwareScrollView/index.tsx
Labels: refactor, 📚 components

#379 feat: `showArrows` property
  docs/docs/api/components/keyboard-toolbar/index.mdx
  docs/versioned_docs/version-1.11.0/api/components/keyboard-toolbar/index.mdx
  src/components/KeyboardToolbar/index.tsx
Labels: documentation, enhancement, 📚 components

#383 chore: release 1.11.3
  FabricExample/ios/KeyboardControllerFabricExample.xcodeproj/project.pbxproj
  FabricExample/ios/Podfile.lock
  example/ios/KeyboardControllerExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  package.json
Labels: release

#388 docs: badges
  .gitignore
  docs/.markdownlint.yaml
  docs/docs/api/keyboard-controller-view.md
  docs/docs/api/keyboard-controller.md
  docs/docs/api/keyboard-gesture-area.md
  docs/docs/api/keyboard-provider.md
  docs/package.json
  docs/src/css/custom.css
  docs/versioned_docs/version-1.0.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.0.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.10.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.10.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.10.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.10.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.11.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.11.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.11.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.11.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.4.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.4.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.5.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.5.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.5.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.6.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.6.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.6.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.7.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.7.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.7.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.8.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.8.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.8.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.9.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.9.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.9.0/api/keyboard-provider.md
Labels: documentation

#390 refactor: move `findKeyboardView` in separate file
  ios/KeyboardController.xcodeproj/project.pbxproj
  ios/observers/KeyboardMovementObserver.swift
  ios/traversal/KeyboardView.swift
Labels: 🍎 iOS, refactor

#391 fix: `KeyboardAvoidingView` is not reacting on keyboard movements if was mounted when keyboard is open
  src/components/KeyboardAvoidingView/index.tsx
Labels: 🐛 bug, 📚 components

#395 fix: avoid deep workletization
  FabricExample/src/screens/Examples/ReanimatedChat/hooks.ts
  example/src/screens/Examples/ReanimatedChat/hooks.ts
  src/animated.tsx
Labels: example, 🎯 crash

#396 chore: release 1.11.4
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#400 fix: schedule missing layout animations
  FabricExample/ios/KeyboardControllerFabricExample.xcodeproj/project.pbxproj
  FabricExample/src/constants/screenNames.ts
  FabricExample/src/navigation/ExamplesStack/index.tsx
  FabricExample/src/screens/Examples/Main/constants.ts
  FabricExample/src/screens/Examples/ReanimatedChatFlatlist/index.tsx
  FabricExample/src/screens/Examples/ReanimatedChatFlatlist/styles.ts
  ios/KeyboardController-Bridging-Header.h
  ios/KeyboardController.xcodeproj/project.pbxproj
  ios/objc/RCTUIManager+LayoutAnimationManager.h
  ios/objc/RCTUIManager+LayoutAnimationManager.m
  ios/observers/KeyboardMovementObserver.swift
  ios/views/KeyboardControllerView.mm
  ios/views/KeyboardControllerViewManager.swift
Labels: 🍎 iOS

#399 fix: consume context values as a default one
  src/components/KeyboardAvoidingView/hooks.ts
Labels: 🐛 bug, 🤖 android, 📚 components

#403 chore: release 1.11.5
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#366 feat: iOS unit tests
  .github/workflows/verify-ios.yml
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  ios/KeyboardControllerNative/KeyboardControllerNative.xcodeproj/project.pbxproj
  ios/KeyboardControllerNative/KeyboardControllerNative/Assets.xcassets/AccentColor.colorset/Contents.json
  ios/KeyboardControllerNative/KeyboardControllerNative/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/KeyboardControllerNative/KeyboardControllerNative/Assets.xcassets/Contents.json
  ios/KeyboardControllerNative/KeyboardControllerNative/ContentView.swift
  ios/KeyboardControllerNative/KeyboardControllerNative/Extension+UIView.swift
  ios/KeyboardControllerNative/KeyboardControllerNative/KeyboardControllerNativeApp.swift
  ios/KeyboardControllerNative/KeyboardControllerNative/Preview Content/Preview Assets.xcassets/Contents.json
  ios/KeyboardControllerNative/KeyboardControllerNativeTests/KeyboardControllerNativeTests.swift
  ios/KeyboardControllerNative/KeyboardControllerNativeUITests/KeyboardControllerNativeUITests.swift
  ios/KeyboardControllerNative/KeyboardControllerNativeUITests/KeyboardControllerNativeUITestsLaunchTests.swift
  package.json
  react-native-keyboard-controller.podspec
Labels: 🍎 iOS, CI, tests

#406 fix: better e2e
  .github/workflows/ios-e2e-test.yml
  e2e/kit/001-keyboard-animation.e2e.ts
  e2e/kit/002-aware-scroll-view.e2e.ts
  e2e/kit/003-enabled-disabled.e2e.ts
  e2e/kit/005-keyboard-toolbar.e2e.ts
  e2e/kit/asserts/index.ts
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewDisabledStateKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewDisabledStateKeyboardOpened.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewFirstInputFocused.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewFirstInputGrown.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewInputChanged.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewKeyboardClosedWithoutBackScroll.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewSecondInputFocused.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewTextChanged.png
  e2e/kit/assets/ios/iPhone 15 Pro/DisabledKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 15 Pro/DisabledKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 15 Pro/EnabledKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 15 Pro/EnabledKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 15 Pro/KeyboardAnimationKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 15 Pro/KeyboardAnimationKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 15 Pro/ToolbarKeyboardClosed.png
  e2e/kit/helpers/actions/index.ts
  e2e/kit/helpers/awaitable/index.ts
  e2e/kit/utils/setDemoMode.ts
  e2e/package.json
  e2e/yarn.lock
Labels: CI, e2e
