Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2024-01, with the labels that each got.

#316 fix: incorrect first frame when keyboard was resized
  src/components/KeyboardAvoidingView/hooks.ts
  src/components/KeyboardAvoidingView/index.tsx
  src/components/KeyboardStickyView/index.tsx
  src/components/hooks/useKeyboardInterpolation.ts
Labels: 🐛 bug, 🤖 android, 📚 components

#318 chore: release 1.10.1
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#320 fix: missing components mocks
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/label-sponsors.yml
  FabricExample/__tests__/__snapshots__/components-rendering.spec.tsx.snap
  FabricExample/__tests__/components-rendering.spec.tsx
  FabricExample/__tests__/module-hook.spec.tsx
  example/__tests__/__snapshots__/components-rendering.spec.tsx.snap
  example/__tests__/components-rendering.spec.tsx
  example/__tests__/module-hook.spec.tsx
  jest/index.js
  src/components/KeyboardAvoidingView/hooks.ts
  src/components/KeyboardStickyView/index.tsx
  src/components/hooks/useKeyboardInterpolation.ts
Labels: 🐛 bug

#322 fix: memory leak on iOS
  ios/views/KeyboardControllerViewManager.swift
Labels: 🐛 bug, 🍎 iOS, 📝 paper

#323 fix: set `currentInput` to `nil` to fix a memory leak
  ios/observers/FocusedInputObserver.swift
Labels: 🐛 bug, 🍎 iOS

#321 fix: remove wrapper view from `KeyboardAwareScrollView`
  docs/docs/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.10.0/api/components/keyboard-aware-scroll-view.mdx
  e2e/kit/assets/android/e2e_emulator/AwareScrollViewFirstInputFocused.png
  e2e/kit/assets/android/e2e_emulator/AwareScrollViewFirstInputGrown.png
  e2e/kit/assets/android/e2e_emulator/AwareScrollViewInputChanged.png
  e2e/kit/assets/android/e2e_emulator/AwareScrollViewKeyboardClosed.png
  e2e/kit/assets/android/e2e_emulator/AwareScrollViewTextChanged.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewFirstInputFocused.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewFirstInputGrown.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewInputChanged.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewTextChanged.png
  e2e/package.json
  src/components/KeyboardAwareScrollView/index.tsx
Labels: 🐛 bug, 📚 components

#326 fix: `react-native-text-input-mask` conflict
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/EditText.kt
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/src/constants/screenNames.ts
  example/src/navigation/ExamplesStack/index.tsx
  example/src/screens/Examples/Main/constants.ts
  example/src/screens/Examples/TextInputMask/index.tsx
  example/yarn.lock
Labels: 🐛 bug, 🤖 android

#332 fix: synchronize bottom padding with keyboard frame in `KeyboardAwareScrollView`
  src/components/KeyboardAwareScrollView/index.tsx
Labels: 🐛 bug, 📚 components

#333 chore: release 1.10.2
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#328 feat: add setting to KASV to disable resetting scroll when keyboard closes
  FabricExample/src/screens/Examples/AwareScrollView/index.tsx
  FabricExample/src/screens/Examples/AwareScrollView/styles.ts
  docs/docs/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.10.0/api/components/keyboard-aware-scroll-view.mdx
  e2e/kit/002-aware-scroll-view.e2e.ts
  e2e/kit/assets/android/e2e_emulator/AwareScrollViewFirstInputFocused.png
  e2e/kit/assets/android/e2e_emulator/AwareScrollViewFirstInputGrown.png
  e2e/kit/assets/android/e2e_emulator/AwareScrollViewInputChanged.png
  e2e/kit/assets/android/e2e_emulator/AwareScrollViewKeyboardClosed.png
  e2e/kit/assets/android/e2e_emulator/AwareScrollViewKeyboardClosedWithoutBackScroll.png
  e2e/kit/assets/android/e2e_emulator/AwareScrollViewSecondInputFocused.png
  e2e/kit/assets/android/e2e_emulator/AwareScrollViewTextChanged.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewFirstInputFocused.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewFirstInputGrown.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewInputChanged.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewKeyboardClosedWithoutBackScroll.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewSecondInputFocused.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewTextChanged.png
  example/__tests__/__snapshots__/components-rendering.spec.tsx.snap
  example/__tests__/components-rendering.spec.tsx
  example/src/screens/Examples/AwareScrollView/index.tsx
  example/src/screens/Examples/AwareScrollView/styles.ts
  src/components/KeyboardAwareScrollView/index.tsx
Labels: documentation, enhancement, 📚 components, e2e

#339 fix: fire `onScroll` from props in `KeyboardAwareScrollView`
  src/components/KeyboardAwareScrollView/index.tsx
Labels: 🐛 bug, 📚 components

#340 chore: release v1.10.3
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#341 fix: `useFocusedInputHandler` and `onChangeText` handler ignores an input from `react-native-text-input-mask` on iOS
  docs/docs/api/hooks/input/use-focused-input-handler.md
  docs/versioned_docs/version-1.10.0/api/hooks/input/use-focused-input-handler.md
  e2e/kit/004-masked-input.e2e.ts
  example/package.json
  example/patches/react-native-text-input-mask+3.1.5.patch
  example/src/screens/Examples/Main/constants.ts
  example/src/screens/Examples/TextInputMask/index.tsx
  example/yarn.lock
Labels: 🐛 bug, documentation, 🍎 iOS, e2e, focused input 📝

#342 fix: slow back transitions on Android < 11 in `KeyboardAwareScrollView`
  src/components/KeyboardAwareScrollView/index.tsx
  src/components/KeyboardAwareScrollView/useSmoothKeyboardHandler.ts
Labels: 🤖 android, 🚀 optimization, 📚 components

#345 fix: forward ref to `KeyboardAwareScrollView`
  src/components/KeyboardAwareScrollView/index.tsx
Labels: 🐛 bug, 📚 components

#344 chore: release 1.10.4
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release
