Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2024-06, with the labels that each got.

#460 fix: iOS 13 compilation issues
  ios/delegates/KCTextInputCompositeDelegate.swift
Labels: 🍎 iOS

#461 chore: release 1.12.2
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#462 docs: added tips and info badges for `KeyboardAwareScrollView` page
  docs/docs/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.10.0/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.11.0/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.12.0/api/components/keyboard-aware-scroll-view.mdx
Labels: documentation

#452 feat: scroll to at least the first snapToOffset value if any
  example/src/screens/Examples/AwareScrollView/index.tsx
  example/src/screens/Examples/AwareScrollView/styles.ts
  src/components/KeyboardAwareScrollView/index.tsx
  src/components/KeyboardAwareScrollView/utils.ts
Labels: 📚 components, KeyboardAwareScrollView 📜

#464 fix: snap points scroll calculations
  FabricExample/src/screens/Examples/AwareScrollView/index.tsx
  FabricExample/src/screens/Examples/AwareScrollView/styles.ts
  docs/docs/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.12.0/api/components/keyboard-aware-scroll-view.mdx
  example/src/screens/Examples/AwareScrollView/index.tsx
  src/__tests__/index.test.tsx
  src/components/KeyboardAwareScrollView/__tests__/scrollDistanceWithRespectToSnapPoints.spec.ts
  src/components/KeyboardAwareScrollView/index.tsx
  src/components/KeyboardAwareScrollView/utils.ts
Labels: 🐛 bug, documentation, 🏭 fabric, example, tests, KeyboardAwareScrollView 📜

#467 docs: mention `softwareKeyboardLayoutMode` in docs
  docs/docs/api/keyboard-controller.md
  docs/versioned_docs/version-1.10.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.11.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.12.0/api/keyboard-controller.md
Labels: documentation

#469 fix: missing `navigationBar` height in keyboard size if `navigationBar` is `translucent`
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/KeyboardAnimationCallback.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/EdgeToEdgeReactViewGroup.kt
Labels: 🐛 bug, 🤖 android

#468 feat: own `useWindowDimensions` hook
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/ThemedReactContext.kt
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/WindowDimensionListener.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/EdgeToEdgeReactViewGroup.kt
  jest/index.js
  src/bindings.native.ts
  src/bindings.ts
  src/components/KeyboardAvoidingView/index.tsx
  src/components/KeyboardAwareScrollView/index.tsx
  src/hooks/index.ts
  src/hooks/useWindowDimensions/index.android.ts
  src/hooks/useWindowDimensions/index.ts
  src/types.ts
Labels: enhancement, 🤖 android

#472 chore: pin iOS/XCode versions to a local env
  .github/workflows/build-ios-fabric.yml
  .github/workflows/build-ios.yml
  .github/workflows/ios-e2e-test.yml
  .github/workflows/verify-ios.yml
  e2e/.detoxrc.js
  ios/KeyboardControllerNative/KeyboardControllerNativeUITests/KeyboardControllerNativeUITestsLaunchTests.swift
Labels: 🍎 iOS, CI, e2e

#473 fix: ignore non-visible keyboard
  ios/traversal/KeyboardView.swift
Labels: 🐛 bug, 🍎 iOS

#474 chore: release 1.12.3
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#475 fix: don't throw compilation errors for `emitEvent` function for RN < 0.72
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/ThemedReactContext.kt
Labels: 🐛 bug, 🤖 android, refactor

#477 fix: random scrolls of `KeyboardAwareScrollView` during re-render (when keyboard is open)
  FabricExample/src/screens/Examples/AwareScrollView/index.tsx
  example/src/screens/Examples/AwareScrollView/index.tsx
  src/components/KeyboardAwareScrollView/useSmoothKeyboardHandler.ts
Labels: 🐛 bug, 🤖 android, example, 📚 components, KeyboardAwareScrollView 📜

#479 chore: release 1.12.4
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release
