Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2025-08, with the labels that each got.

#1059 fix: iOS crash caused by the `KeyboardControllerView` class implementation
  ios/views/KeyboardControllerView.mm
Labels: 🍎 iOS, 🎯 crash

#1060 fix: clang format
  ios/views/KeyboardControllerView.mm
Labels: 🍎 iOS, 🏭 fabric, refactor

#1068 fix: iOS 26 interactive dismissal
  ios/observers/KeyboardMovementObserver.swift
  ios/observers/KeyboardTrackingView.swift
Labels: 🐛 bug, 👆 interactive keyboard, iOS 26

#1078 fix: fix disabling KeyboardAvoidingView
  src/components/KeyboardAvoidingView/index.tsx
Labels: 🐛 bug, KeyboardAvoidingView 🧪

#1084 fix: avoid direct `FBReactNativeSpec` usage
  ios/KeyboardControllerModule.mm
Labels: 🍎 iOS, 🏭 fabric, build error ❌

#1085 fix: add `target_compile_reactnative_options`
  android/src/main/jni/CMakeLists.txt
Labels: 🐛 bug, 🤖 android

#1097 Add DefaultKeyboardToolbarTheme to Jest mock exports
  jest/index.js
Labels: tests
