Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2025-06, with the labels that each got.

#962 fix: `OverKeyboardView` crash with `a11y`
  android/src/main/java/com/reactnativekeyboardcontroller/views/overlay/OverKeyboardViewGroup.kt
Labels: 🎯 crash, OverKeyboardView

#966 fix: 2 memory leaks
  android/src/fabric/java/com/reactnativekeyboardcontroller/KeyboardControllerViewManager.kt
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/ThemedReactContext.kt
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/WindowDimensionListener.kt
  android/src/main/java/com/reactnativekeyboardcontroller/managers/KeyboardControllerViewManagerImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/EdgeToEdgeReactViewGroup.kt
  android/src/paper/java/com/reactnativekeyboardcontroller/KeyboardControllerViewManager.kt
Labels: 🐛 bug, 🤖 android

#969 docs: improve `useKeyboardState` SEO search
  docs/docs/api/hooks/keyboard/use-keyboard-state.mdx
  docs/versioned_docs/version-1.17.0/api/hooks/keyboard/use-keyboard-state.mdx
Labels: documentation

#965 chore: release 1.17.4
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#978 fix: `KeyboardToolbar` on iOS 26
  src/components/KeyboardToolbar/constants.ts
  src/components/KeyboardToolbar/index.tsx
Labels: KeyboardToolbar

#980 perf: pause `CADisplayLink` instead of re-creation
  ios/observers/KeyboardMovementObserver.swift
Labels: 🍎 iOS, 🚀 optimization

#985 chore: release 1.17.5
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#986 fix: `llms` plugin integration cleanup
  docs/docusaurus.config.js
  docs/package.json
  docs/patches/@signalwire+docusaurus-plugin-llms-txt+1.0.1.patch
  docs/yarn.lock
Labels: documentation

#982 feat: `KeyboardExtender`
  FabricExample/__tests__/__snapshots__/components-rendering.spec.tsx.snap
  FabricExample/__tests__/components-rendering.spec.tsx
  FabricExample/src/constants/screenNames.ts
  FabricExample/src/navigation/ExamplesStack/index.tsx
  FabricExample/src/screens/Examples/KeyboardExtender/background.jpg
  FabricExample/src/screens/Examples/KeyboardExtender/index.tsx
  FabricExample/src/screens/Examples/KeyboardSharedTransitions/index.tsx
  FabricExample/src/screens/Examples/Main/constants.ts
  README.md
  android/src/main/java/com/reactnativekeyboardcontroller/views/background/Skins.kt
  common/cpp/react/renderer/components/reactnativekeyboardcontroller/RNKCKeyboardExtenderComponentDescriptor.h
  common/cpp/react/renderer/components/reactnativekeyboardcontroller/RNKCKeyboardExtenderShadowNode.cpp
  common/cpp/react/renderer/components/reactnativekeyboardcontroller/RNKCKeyboardExtenderShadowNode.h
  common/cpp/react/renderer/components/reactnativekeyboardcontroller/RNKCKeyboardExtenderState.h
  docs/docs/api/keyboard-background-view/index.mdx
  docs/docs/api/keyboard-extender/index.mdx
  docs/docs/api/keyboard-extender/keyboard-extender.lottie.json
  docs/docs/guides/components-overview.mdx
  e2e/.detoxrc.js
  e2e/kit/015-keyboard-extender.e2e.ts
  e2e/kit/assets/android/e2e_emulator_28/KeyboardExtenderIsAttached.png
  e2e/kit/assets/android/e2e_emulator_28/KeyboardExtenderIsDetached.png
  e2e/kit/assets/android/e2e_emulator_31/KeyboardExtenderIsAttached.png
  e2e/kit/assets/android/e2e_emulator_31/KeyboardExtenderIsDetached.png
  e2e/kit/assets/ios/iPhone 13 Pro/KeyboardExtenderIsAttached.png
  e2e/kit/assets/ios/iPhone 13 Pro/KeyboardExtenderIsDetached.png
  e2e/kit/assets/ios/iPhone 14 Pro/KeyboardExtenderIsAttached.png
  e2e/kit/assets/ios/iPhone 14 Pro/KeyboardExtenderIsDetached.png
  e2e/kit/assets/ios/iPhone 15 Pro/KeyboardExtenderIsAttached.png
  e2e/kit/assets/ios/iPhone 15 Pro/KeyboardExtenderIsDetached.png
  e2e/kit/assets/ios/iPhone 16 Pro/KeyboardExtenderIsAttached.png
  e2e/kit/assets/ios/iPhone 16 Pro/KeyboardExtenderIsDetached.png
  example/__tests__/__snapshots__/components-rendering.spec.tsx.snap
  example/__tests__/components-rendering.spec.tsx
  example/src/constants/screenNames.ts
  example/src/navigation/ExamplesStack/index.tsx
  example/src/screens/Examples/KeyboardExtender/background.jpg
  example/src/screens/Examples/KeyboardExtender/index.tsx
  example/src/screens/Examples/KeyboardSharedTransitions/index.tsx
  example/src/screens/Examples/Main/constants.ts
  ios/views/KeyboardExtenderManager.h
  ios/views/KeyboardExtenderManager.mm
  jest/index.js
  package.json
  src/bindings.native.ts
  src/bindings.ts
  src/index.ts
  src/specs/KeyboardExtenderNativeComponent.ts
  src/types/views.ts
  src/views/KeyboardExtender/index.ios.tsx
  src/views/KeyboardExtender/index.tsx
  src/views/index.ts
Labels: documentation, enhancement, e2e, 🚨 requires API changes 🚨, tests, KeyboardExtender 🧩

#998 feat: keyboard state selector
  FabricExample/src/screens/Examples/LiquidKeyboard/ai-dark.png
  FabricExample/src/screens/Examples/LiquidKeyboard/index.tsx
  docs/docs/api/hooks/keyboard/use-keyboard-state.mdx
  example/src/screens/Examples/LiquidKeyboard/ai-dark.png
  example/src/screens/Examples/LiquidKeyboard/index.tsx
  jest/index.js
  src/hooks/useKeyboardState/index.ts
Labels: documentation, enhancement, 🚀 optimization
