Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2025-07, with the labels that each got.

#1008 fix: use reflection for original `StatusBar` implementation discovery
  android/src/base/java/com/reactnativekeyboardcontroller/KeyboardControllerPackage.kt
  android/src/fabric/java/com/reactnativekeyboardcontroller/StatusBarManagerCompatModule.kt
  android/src/main/java/com/reactnativekeyboardcontroller/modules/statusbar/StatusBarManagerCompatModuleImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/modules/statusbar/StatusBarModuleProxy.kt
  android/src/paper/java/com/reactnativekeyboardcontroller/StatusBarManagerCompatModule.kt
  android/src/turbo/java/com/reactnativekeyboardcontroller/KeyboardControllerPackage.kt
Labels: 🐛 bug, 🤖 android

#546 fix: rewrite `onTextChanged` to `onSelectionChanged` event handler in `KeyboardAwareScrollView`
  e2e/kit/004-aware-scroll-view.e2e.ts
  e2e/kit/assets/android/e2e_emulator_28/AwareScrollViewTextChanged.png
  e2e/kit/assets/android/e2e_emulator_31/AwareScrollViewTextChanged.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewTextChanged.png
  e2e/kit/assets/ios/iPhone 14 Pro/AwareScrollViewTextChanged.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewTextChanged.png
  e2e/kit/assets/ios/iPhone 16 Pro/AwareScrollViewTextChanged.png
  e2e/kit/helpers/actions/index.ts
  src/components/KeyboardAwareScrollView/index.tsx
Labels: 🐛 bug, e2e, KeyboardAwareScrollView 📜

#1015 fix: `KeyboardExtender` on iOS 26
  ios/views/KeyboardExtenderContainerView.swift
  ios/views/KeyboardExtenderManager.mm
Labels: 🐛 bug, 🍎 iOS, KeyboardExtender 🧩

#1016 feat: preload
  FabricExample/src/App.tsx
  README.md
  android/src/fabric/java/com/reactnativekeyboardcontroller/KeyboardControllerModule.kt
  android/src/main/java/com/reactnativekeyboardcontroller/modules/KeyboardControllerModuleImpl.kt
  android/src/paper/java/com/reactnativekeyboardcontroller/KeyboardControllerModule.kt
  docs/docs/api/keyboard-controller.md
  example/src/App.tsx
  ios/KeyboardControllerModule.mm
  ios/extensions/UIResponder.swift
  ios/observers/KeyboardMovementObserver.swift
  jest/index.js
  src/bindings.ts
  src/module.ts
  src/specs/NativeKeyboardController.ts
  src/types/module.ts
Labels: documentation, enhancement, 🍎 iOS

#1018 feat: preload by default
  FabricExample/src/App.tsx
  docs/docs/api/keyboard-controller.md
  docs/docs/api/keyboard-provider.md
  example/src/App.tsx
  src/animated.tsx
Labels: documentation, enhancement

#1022 docs: more trusted apps
  cspell.json
  docs/src/pages/index.tsx
Labels: documentation

#1026 feat: `KeyboardAwareScrollView` full screen input support
  docs/docs/api/components/keyboard-aware-scroll-view.mdx
  e2e/kit/assets/android/e2e_emulator_28/AwareScrollViewDisabledStateKeyboardClosed.png
  e2e/kit/assets/android/e2e_emulator_28/AwareScrollViewDisabledStateKeyboardOpened.png
  e2e/kit/assets/android/e2e_emulator_28/AwareScrollViewFirstInputFocused.png
  e2e/kit/assets/android/e2e_emulator_28/AwareScrollViewFirstInputGrown.png
  e2e/kit/assets/android/e2e_emulator_28/AwareScrollViewInputChanged.png
  e2e/kit/assets/android/e2e_emulator_28/AwareScrollViewKeyboardClosed.png
  e2e/kit/assets/android/e2e_emulator_28/AwareScrollViewKeyboardClosedWithoutBackScroll.png
  e2e/kit/assets/android/e2e_emulator_28/AwareScrollViewSecondInputFocused.png
  e2e/kit/assets/android/e2e_emulator_31/AwareScrollViewDisabledStateKeyboardClosed.png
  e2e/kit/assets/android/e2e_emulator_31/AwareScrollViewDisabledStateKeyboardOpened.png
  e2e/kit/assets/android/e2e_emulator_31/AwareScrollViewFirstInputFocused.png
  e2e/kit/assets/android/e2e_emulator_31/AwareScrollViewFirstInputGrown.png
  e2e/kit/assets/android/e2e_emulator_31/AwareScrollViewKeyboardClosedWithoutBackScroll.png
  e2e/kit/assets/android/e2e_emulator_31/AwareScrollViewSecondInputFocused.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewDisabledStateKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewDisabledStateKeyboardOpened.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewFirstInputGrown.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewInputChanged.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewKeyboardClosedWithoutBackScroll.png
  e2e/kit/assets/ios/iPhone 13 Pro/AwareScrollViewSecondInputFocused.png
  e2e/kit/assets/ios/iPhone 14 Pro/AwareScrollViewDisabledStateKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 14 Pro/AwareScrollViewDisabledStateKeyboardOpened.png
  e2e/kit/assets/ios/iPhone 14 Pro/AwareScrollViewFirstInputGrown.png
  e2e/kit/assets/ios/iPhone 14 Pro/AwareScrollViewInputChanged.png
  e2e/kit/assets/ios/iPhone 14 Pro/AwareScrollViewKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 14 Pro/AwareScrollViewKeyboardClosedWithoutBackScroll.png
  e2e/kit/assets/ios/iPhone 14 Pro/AwareScrollViewSecondInputFocused.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewDisabledStateKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewDisabledStateKeyboardOpened.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewFirstInputGrown.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewInputChanged.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewKeyboardClosedWithoutBackScroll.png
  e2e/kit/assets/ios/iPhone 15 Pro/AwareScrollViewSecondInputFocused.png
  e2e/kit/assets/ios/iPhone 16 Pro/AwareScrollViewDisabledStateKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 16 Pro/AwareScrollViewDisabledStateKeyboardOpened.png
  e2e/kit/assets/ios/iPhone 16 Pro/AwareScrollViewFirstInputGrown.png
  e2e/kit/assets/ios/iPhone 16 Pro/AwareScrollViewInputChanged.png
  e2e/kit/assets/ios/iPhone 16 Pro/AwareScrollViewKeyboardClosed.png
  e2e/kit/assets/ios/iPhone 16 Pro/AwareScrollViewKeyboardClosedWithoutBackScroll.png
  e2e/kit/assets/ios/iPhone 16 Pro/AwareScrollViewSecondInputFocused.png
  src/components/KeyboardAwareScrollView/index.tsx
Labels: enhancement, KeyboardAwareScrollView 📜

#1027 fix: delay delegate substitution
  ios/observers/FocusedInputObserver.swift
Labels: 🐛 bug, 🍎 iOS, focused input 📝

#1029 docs: blogpost 1.18.0
  .github/workflows/docs-e2e.yml
  .github/workflows/verify-docs.yml
  cspell.json
  docs/blog/2025-07-22-keyboard-extensions/images/chrome.png
  docs/blog/2025-07-22-keyboard-extensions/images/revolut-math.png
  docs/blog/2025-07-22-keyboard-extensions/images/revolut-presets.png
  docs/blog/2025-07-22-keyboard-extensions/index.mdx
  docs/package.json
  docs/src/components/Swiper/index.tsx
  docs/src/components/Swiper/styles.css
  docs/static/video/keyboard-with-preload.mp4
  docs/static/video/keyboard-without-preload.mp4
  docs/static/video/photos-app.mp4
  docs/static/video/safari.mp4
  docs/yarn.lock
Labels: documentation, KeyboardBackgroundView 🎨, KeyboardExtender 🧩

#1031 chore: release 1.18.0
  FabricExample/ios/Podfile.lock
  FabricExample/yarn.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#1036 fix: re-setup `WindowDimensionsListener`after JS bundle reload
  android/src/main/java/com/reactnativekeyboardcontroller/managers/KeyboardControllerViewManagerImpl.kt
Labels: 🐛 bug, 🤖 android

#1035 chore: release 1.18.1
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#1039 fix: do not use `BackgroundStyleApplicator` directly
  android/src/main/java/com/reactnativekeyboardcontroller/views/background/KeyboardBackgroundViewGroup.kt
Labels: 🤖 android, build error ❌

#1041 fix: `keyboardAppearanceValue` extension iOS < 12 compatibility
  ios/protocols/TextInput.swift
Labels: 🍎 iOS, focused input 📝, build error ❌

#1043 docs: update `KeyboardExtender` code sample
  docs/docs/api/views/keyboard-extender/index.mdx
  docs/versioned_docs/version-1.18.0/api/views/keyboard-extender/index.mdx
Labels: documentation, KeyboardExtender 🧩

#1046 chore: release 1.18.2
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#1052 refactor: isolate keyboard view locator
  ios/observers/KeyboardMovementObserver.swift
  ios/observers/KeyboardViewLocator.swift
Labels: 🍎 iOS, refactor

#1053 fix: remove maybescroll console debug
  src/components/KeyboardAwareScrollView/index.tsx
Labels: refactor, KeyboardAwareScrollView 📜
