Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2025-02, with the labels that each got.

#777 feat: new first responder detection algorithm
  ios/KeyboardControllerModuleImpl.swift
  ios/KeyboardControllerNative/KeyboardControllerNative.xcodeproj/project.pbxproj
  ios/extensions/UIResponder.swift
  ios/extensions/UIView.swift
Labels: 🐛 bug, 🍎 iOS, focused input 📝

#796 chore: release 1.16.2
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#799 fix: missing `unfocus` event on iOS Fabric
  ios/observers/FocusedInputObserver.swift
Labels: 🍎 iOS, 🏭 fabric, focused input 📝

#801 chore: react-native 0.77
  FabricExample/Gemfile
  FabricExample/Gemfile.lock
  FabricExample/android/build.gradle
  FabricExample/ios/AppDelegate.swift
  FabricExample/ios/KeyboardControllerFabricExample.xcodeproj/project.pbxproj
  FabricExample/ios/KeyboardControllerFabricExample/AppDelegate.h
  FabricExample/ios/KeyboardControllerFabricExample/AppDelegate.mm
  FabricExample/ios/KeyboardControllerFabricExample/main.m
  FabricExample/ios/KeyboardControllerFabricExampleTests/Info.plist
  FabricExample/ios/KeyboardControllerFabricExampleTests/KeyboardControllerFabricExampleTests.m
  FabricExample/ios/Podfile
  FabricExample/ios/Podfile.lock
  FabricExample/metro.config.js
  FabricExample/package.json
  FabricExample/patches/react-native+0.76.2.patch
  FabricExample/src/screens/Examples/Modal/index.tsx
  FabricExample/yarn.lock
  android/build.gradle
  android/react-native-helpers.gradle
  android/src/base/java/com/reactnativekeyboardcontroller/KeyboardControllerPackage.kt
  android/src/turbo/java/com/reactnativekeyboardcontroller/KeyboardControllerPackage.kt
  cspell.json
  docs/docs/guides/compatibility.md
  docs/versioned_docs/version-1.16.0/guides/compatibility.md
  e2e/kit/assets/android/e2e_emulator_28/ModalJustOpened.png
  e2e/kit/assets/android/e2e_emulator_28/ModalKeyboardOpened.png
  e2e/kit/assets/android/e2e_emulator_31/ModalJustOpened.png
  e2e/kit/assets/android/e2e_emulator_31/ModalKeyboardOpened.png
  example/Gemfile
  example/Gemfile.lock
  example/android/build.gradle
  example/ios/AppDelegate.mm
  example/ios/AppDelegate.swift
  example/ios/KeyboardControllerExample.xcodeproj/project.pbxproj
  example/ios/KeyboardControllerExample/AppDelegate.h
  example/ios/KeyboardControllerExample/AppDelegate.mm
  example/ios/KeyboardControllerExample/main.m
  example/ios/Podfile.lock
  example/metro.config.js
  example/package.json
  example/src/screens/Examples/Modal/index.tsx
  example/yarn.lock
  package.json
  yarn.lock
Labels: deps update

#804 chore: release 1.16.3
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#811 fix: universal kotlin/java `onEventDispatch` method signature
  android/src/main/java/com/reactnativekeyboardcontroller/modal/ModalAttachedWatcher.kt
Labels: 🤖 android, refactor

#817 feat: set only one active arch for CI android e2e build
  .github/workflows/android-e2e-test.yml
Labels: 🤖 android, CI, 🚀 optimization, e2e

#820 fix: remove undesired prop memoization
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/KeyboardAnimationCallback.kt
  android/src/main/java/com/reactnativekeyboardcontroller/modal/ModalAttachedWatcher.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/EdgeToEdgeReactViewGroup.kt
Labels: 🐛 bug, 🤖 android

#815 fix: stripe crash on Android
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/FocusedInputObserver.kt
Labels: 🤖 android, 🎯 crash

#814 fix: predictive back gesture handler (correct end event)
  android/src/main/java/com/reactnativekeyboardcontroller/interactive/InteractiveKeyboardProvider.kt
  android/src/main/java/com/reactnativekeyboardcontroller/interactive/KeyboardAnimationController.kt
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/KeyboardAnimationCallback.kt
Labels: 🐛 bug, 🤖 android, 👆 interactive keyboard

#821 chore: release 1.16.4
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#824 ci: do not clear disk space for build
  .github/workflows/android-e2e-test.yml
Labels: 🤖 android, CI

#823 fix: duplicated events on Fabric
  .github/workflows/build-android-fabric.yml
  .github/workflows/build-android.yml
  .github/workflows/build-ios-fabric.yml
  .github/workflows/build-ios.yml
  FabricExample/patches/react-native-reanimated+3.16.7.patch
Labels: 🏭 fabric, example, CI

#827 fix: build errors for Fabric on RN 78
  android/src/fabric/java/com/reactnativekeyboardcontroller/KeyboardControllerViewManager.kt
  android/src/fabric/java/com/reactnativekeyboardcontroller/KeyboardGestureAreaViewManager.kt
  android/src/fabric/java/com/reactnativekeyboardcontroller/OverKeyboardViewManager.kt
Labels: 🐛 bug, 🤖 android, 🏭 fabric, deps update

#829 fix: `KotlinNullnessAnnotation` warning
  android/src/turbo/java/com/reactnativekeyboardcontroller/KeyboardControllerPackage.kt
Labels: 🤖 android, refactor

#830 feat: new `behavior="translate-with-padding"` for `KeyboardAvoidingView`
  FabricExample/package.json
  FabricExample/src/screens/Examples/ReanimatedChatFlatList/index.tsx
  FabricExample/yarn.lock
  docs/docs/api/components/keyboard-avoiding-view.mdx
  docs/versioned_docs/version-1.16.0/api/components/keyboard-avoiding-view.mdx
  example/package.json
  example/src/screens/Examples/ReanimatedChatFlatList/index.tsx
  example/yarn.lock
  src/components/KeyboardAvoidingView/hooks.ts
  src/components/KeyboardAvoidingView/index.tsx
Labels: enhancement, KeyboardAvoidingView 🧪

#831 chore: release 1.16.5
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#834 docs: `KeyboardAvoidingView` behavior explanations
  docs/docs/api/components/keyboard-avoiding-view.mdx
  docs/versioned_docs/version-1.16.0/api/components/keyboard-avoiding-view.mdx
Labels: documentation, KeyboardAvoidingView 🧪

#832 refactor: use `nativeFabricUIManager` instead of `IS_FABRIC` to detect new architecture in JS
  src/architecture.ts
  src/views/OverKeyboardView/index.tsx
Labels: refactor

#812 chore: react-native 0.78
  .github/workflows/build-ios-fabric.yml
  .github/workflows/build-ios.yml
  .github/workflows/ios-e2e-test.yml
  .gitignore
  FabricExample/.gitignore
  FabricExample/__tests__/__snapshots__/components-rendering.spec.tsx.snap
  FabricExample/__tests__/close-keyboard.spec.tsx
  FabricExample/__tests__/components-rendering.spec.tsx
  FabricExample/android/app/build.gradle
  FabricExample/android/build.gradle
  FabricExample/android/gradle/wrapper/gradle-wrapper.properties
  FabricExample/android/gradlew
  FabricExample/ios/KeyboardControllerFabricExample.xcodeproj/project.pbxproj
  FabricExample/ios/Podfile.lock
  FabricExample/package.json
  FabricExample/patches/react-native-reanimated+3.16.7.patch
  FabricExample/yarn.lock
  example/__tests__/__snapshots__/components-rendering.spec.tsx.snap
  example/__tests__/close-keyboard.spec.tsx
  example/__tests__/components-rendering.spec.tsx
  example/android/app/build.gradle
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/ios/Podfile.lock
  example/package.json
  example/yarn.lock
  package.json
  src/components/KeyboardToolbar/index.tsx
  yarn.lock
Labels: deps update

#838 fix: set shared values in layout effects
  src/components/KeyboardAvoidingView/hooks.ts
Labels: 🐛 bug, 🤖 android, KeyboardAvoidingView 🧪

#837 fix: exclude `StatusBar` height from `useWindowDimensions` if `StatusBar` is not translucent
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/WindowDimensionListener.kt
Labels: 🐛 bug, 🤖 android

#840 chore: release 1.16.6
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release
