Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2025-01, with the labels that each got.

#749 fix: take `gravity` into consideration when calculating selection coordinates on Android
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/EditText.kt
  android/src/main/java/com/reactnativekeyboardcontroller/ui/FrameScheduler.kt
  e2e/kit/assets/android/e2e_emulator_28/AwareScrollViewTextSelectionChanged.png
  e2e/kit/assets/android/e2e_emulator_31/AwareScrollViewTextSelectionChanged.png
  e2e/kit/helpers/actions/index.ts
  e2e/kit/helpers/env/devicePreferences.ts
  e2e/package.json
  e2e/yarn.lock
Labels: 🐛 bug, 🤖 android

#751 feat: example with `KeyboardAwareScrollView` that covers entire screen
  FabricExample/src/screens/Examples/AwareScrollView/index.tsx
  FabricExample/src/screens/Examples/AwareScrollView/styles.ts
  example/src/screens/Examples/AwareScrollView/index.tsx
  example/src/screens/Examples/AwareScrollView/styles.ts
Labels: example

#757 fix: ios unit tests (CI)
  .github/workflows/verify-ios.yml
Labels: CI

#727 feat: keyboard offset on iOS
  FabricExample/patches/react-native+0.76.2.patch
  FabricExample/src/screens/Examples/InteractiveKeyboardIOS/index.tsx
  android/src/fabric/java/com/reactnativekeyboardcontroller/KeyboardGestureAreaViewManager.kt
  android/src/paper/java/com/reactnativekeyboardcontroller/KeyboardGestureAreaViewManager.kt
  docs/docs/api/keyboard-gesture-area.md
  example/src/screens/Examples/InteractiveKeyboardIOS/index.tsx
  ios/KeyboardControllerNative/KeyboardControllerNative/Extension+UIView.swift
  ios/extensions/Notification.swift
  ios/extensions/UIResponder.swift
  ios/interactive/InvisibleInputAccessoryView.swift
  ios/interactive/KeyboardAreaExtender.swift
  ios/interactive/KeyboardOffsetProvider.swift
  ios/observers/KeyboardEventsIgnorer.swift
  ios/observers/KeyboardMovementObserver.swift
  ios/protocols/TextInput.swift
  ios/swizzling/UIResponderSwizzle.swift
  ios/views/KeyboardGestureAreaManager.h
  ios/views/KeyboardGestureAreaManager.mm
  src/bindings.native.ts
  src/specs/KeyboardGestureAreaNativeComponent.ts
  src/types.ts
Labels: documentation, 🍎 iOS, 👆 interactive keyboard, 🚨 requires API changes 🚨

#764 feat: iOS 12 compatibility
  ios/delegates/KCTextInputCompositeDelegate.swift
  ios/observers/FocusedInputObserver.swift
Labels: 🍎 iOS, focused input 📝

#769 refactor: remove other warnings
  ios/observers/KeyboardMovementObserver.swift
Labels: 🍎 iOS, refactor

#768 fix: `NSRangeException` in `FocusedInputObserver`
  ios/observers/FocusedInputObserver.swift
Labels: 🍎 iOS, 🎯 crash, focused input 📝

#760 fix: intercept input events along with keyboard events
  ios/observers/FocusedInputObserver.swift
Labels: 🍎 iOS, focused input 📝

#765 Add preserveEdgeToEdge prop
  android/src/fabric/java/com/reactnativekeyboardcontroller/KeyboardControllerViewManager.kt
  android/src/main/java/com/reactnativekeyboardcontroller/managers/KeyboardControllerViewManagerImpl.kt
  android/src/main/java/com/reactnativekeyboardcontroller/views/EdgeToEdgeReactViewGroup.kt
  android/src/paper/java/com/reactnativekeyboardcontroller/KeyboardControllerViewManager.kt
  docs/docs/api/keyboard-controller-view.md
  docs/docs/api/keyboard-provider.md
  src/animated.tsx
  src/specs/KeyboardControllerViewNativeComponent.ts
  src/types.ts
Labels: documentation, enhancement, 🤖 android

#776 fix: do not overcast to `ReactEditText`
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/EditText.kt
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/FocusedInputObserver.kt
  android/src/main/java/com/reactnativekeyboardcontroller/listeners/KeyboardAnimationCallback.kt
Labels: 🐛 bug, 🤖 android, focused input 📝

#774 fix: properly take padding into consideration for selection events on Android
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/EditText.kt
  e2e/kit/assets/android/e2e_emulator_28/AwareScrollViewTextSelectionChanged.png
  e2e/kit/assets/android/e2e_emulator_31/AwareScrollViewTextSelectionChanged.png
Labels: 🐛 bug, 🤖 android, focused input 📝

#778 perf: optimize animations (~5-20% win)
  ios/KeyboardControllerNative/KeyboardControllerNative.xcodeproj/xcshareddata/xcbaselines/0873ED612BB6B7390004F3A4.xcbaseline/AE1417BE-2A84-4C63-BD95-0B7DE93E2975.plist
  ios/KeyboardControllerNative/KeyboardControllerNative.xcodeproj/xcshareddata/xcbaselines/0873ED612BB6B7390004F3A4.xcbaseline/Info.plist
  ios/animations/KeyboardAnimation.swift
  ios/animations/SpringAnimation.swift
  ios/animations/TimingAnimation.swift
Labels: 🍎 iOS, 🚀 optimization

#780 perf: improve `TimingAnimation` performance
  ios/KeyboardControllerNative/KeyboardControllerNative.xcodeproj/xcshareddata/xcbaselines/0873ED612BB6B7390004F3A4.xcbaseline/AE1417BE-2A84-4C63-BD95-0B7DE93E2975.plist
  ios/KeyboardControllerNative/KeyboardControllerNativeTests/TimingAnimationPerformanceTest.swift
  ios/animations/TimingAnimation.swift
Labels: 🚀 optimization, tests

#781 docs: blogpost for 1.16.0
  cspell.json
  docs/blog/2025-01-27-release-1-16/index.mdx
  docs/static/video/ios-offset-demo.mp4
Labels: documentation

#782 docs: version 1.16.0
  docs/docusaurus.config.js
  docs/versioned_docs/version-1.16.0/api/_category_.json
  docs/versioned_docs/version-1.16.0/api/components/_category_.json
  docs/versioned_docs/version-1.16.0/api/components/keyboard-avoiding-view.mdx
  docs/versioned_docs/version-1.16.0/api/components/keyboard-aware-scroll-view.mdx
  docs/versioned_docs/version-1.16.0/api/components/keyboard-sticky-view/index.mdx
  docs/versioned_docs/version-1.16.0/api/components/keyboard-sticky-view/ksv.lottie.json
  docs/versioned_docs/version-1.16.0/api/components/keyboard-toolbar/index.mdx
  docs/versioned_docs/version-1.16.0/api/components/keyboard-toolbar/toolbar.lottie.json
  docs/versioned_docs/version-1.16.0/api/hooks/_category_.json
  docs/versioned_docs/version-1.16.0/api/hooks/input/_category_.json
  docs/versioned_docs/version-1.16.0/api/hooks/input/use-focused-input-handler.mdx
  docs/versioned_docs/version-1.16.0/api/hooks/input/use-reanimated-focused-input.md
  docs/versioned_docs/version-1.16.0/api/hooks/keyboard/_category_.json
  docs/versioned_docs/version-1.16.0/api/hooks/keyboard/use-keyboard-animation.md
  docs/versioned_docs/version-1.16.0/api/hooks/keyboard/use-keyboard-handler/end.png
  docs/versioned_docs/version-1.16.0/api/hooks/keyboard/use-keyboard-handler/index.mdx
  docs/versioned_docs/version-1.16.0/api/hooks/keyboard/use-keyboard-handler/interactive.png
  docs/versioned_docs/version-1.16.0/api/hooks/keyboard/use-keyboard-handler/move.png
  docs/versioned_docs/version-1.16.0/api/hooks/keyboard/use-keyboard-handler/start.png
  docs/versioned_docs/version-1.16.0/api/hooks/keyboard/use-reanimated-keyboard-animation.md
  docs/versioned_docs/version-1.16.0/api/hooks/module/_category_.json
  docs/versioned_docs/version-1.16.0/api/hooks/module/use-keyboard-controller.md
  docs/versioned_docs/version-1.16.0/api/keyboard-controller-view.md
  docs/versioned_docs/version-1.16.0/api/keyboard-controller.md
  docs/versioned_docs/version-1.16.0/api/keyboard-events.md
  docs/versioned_docs/version-1.16.0/api/keyboard-gesture-area.md
  docs/versioned_docs/version-1.16.0/api/keyboard-provider.md
  docs/versioned_docs/version-1.16.0/api/over-keyboard-view/index.mdx
  docs/versioned_docs/version-1.16.0/api/over-keyboard-view/over-keyboard-view.lottie.json
  docs/versioned_docs/version-1.16.0/faq.md
  docs/versioned_docs/version-1.16.0/guides/_category_.json
  docs/versioned_docs/version-1.16.0/guides/building-own-hook.md
  docs/versioned_docs/version-1.16.0/guides/compatibility.md
  docs/versioned_docs/version-1.16.0/guides/first-animation.md
  docs/versioned_docs/version-1.16.0/guides/interactive-keyboard.mdx
  docs/versioned_docs/version-1.16.0/installation.mdx
  docs/versioned_docs/version-1.16.0/recipes/_category_.json
  docs/versioned_docs/version-1.16.0/recipes/architecture.mdx
  docs/versioned_docs/version-1.16.0/recipes/jest-testing-guide.md
  docs/versioned_docs/version-1.16.0/recipes/platform-differences.md
  docs/versioned_docs/version-1.16.0/troubleshooting.md
  docs/versioned_sidebars/version-1.16.0-sidebars.json
  docs/versions.json
Labels: documentation

#773 chore: release 1.16.0
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#783 docs: fix blogpost wording
  docs/blog/2025-01-27-release-1-16/index.mdx
Labels: documentation

#785 fix: crash accessing `nativeId` when it's not available
  ios/extensions/UIResponder.swift
Labels: 🍎 iOS, 🏭 fabric, 🎯 crash

#787 fix: crash in `KeyboardMovementObserver` due to incorrect KVO removal
  ios/observers/KeyboardMovementObserver.swift
Labels: 🍎 iOS, 🎯 crash

#790 ci: fix android e2e tests
  .github/workflows/android-e2e-test.yml
Labels: CI, e2e

#791 chore: release 1.16.1
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#793 fix: exclude android unit tests from being published to npm
  package.json
Labels: 🤖 android, 🚀 optimization
