Repository kirillzyusko/react-native-keyboard-controller, pull requests merged in 2025-03, with the labels that each got.

#845 fix: crash when pass `dismiss` as event handler
  src/module.ts
Labels: 🐛 bug, 🎯 crash

#844 fix: selection coordinates in container with static height
  FabricExample/src/screens/Examples/FocusedInputHandlers/index.tsx
  android/src/main/java/com/reactnativekeyboardcontroller/extensions/EditText.kt
  example/src/screens/Examples/FocusedInputHandlers/index.tsx
Labels: 🐛 bug, 🤖 android, focused input 📝

#846 chore: release 1.16.7
  FabricExample/ios/Podfile.lock
  example/ios/Podfile.lock
  package.json
Labels: release

#849 feat: ability to hide "Done" button in `KeyboardToolbar`
  src/components/KeyboardToolbar/index.tsx
Labels: KeyboardToolbar

#857 fix: pending `dismiss` if keyboard wasn't shown in app yet
  FabricExample/src/screens/Examples/Close/index.tsx
  example/src/screens/Examples/Close/index.tsx
  src/module.ts
Labels: 🐛 bug, example

#865 fix: allow keyboard toolbar take all available space
  src/components/KeyboardToolbar/index.tsx
Labels: 🐛 bug, KeyboardToolbar

#866 feat: `insets` prop for `KeyboardToolbar`
  FabricExample/src/screens/Examples/Toolbar/index.tsx
  docs/docs/api/components/keyboard-toolbar/index.mdx
  docs/versioned_docs/version-1.16.0/api/components/keyboard-toolbar/index.mdx
  example/src/screens/Examples/Toolbar/index.tsx
  src/components/KeyboardToolbar/index.tsx
Labels: enhancement, KeyboardToolbar

#869 example: toolbar in modal
  FabricExample/src/screens/Examples/Toolbar/index.tsx
  example/src/screens/Examples/Toolbar/index.tsx
Labels: example

#872 docs: updated Expo installation instruction
  docs/docs/installation.mdx
  docs/versioned_docs/version-1.16.0/installation.mdx
Labels: documentation

#875 docs: remove useless box style from first animation
  docs/versioned_docs/version-1.16.0/guides/first-animation.md
Labels: documentation

#879 docs: use documentation installation page in README
  README.md
Labels: documentation

#878 chore: remove dead code
  FabricExample/src/components/KeyboardAnimation/styles.ts
  FabricExample/src/screens/Examples/KeyboardAnimation/styles.ts
  docs/docs/guides/first-animation.md
  example/src/components/KeyboardAnimation/styles.ts
  example/src/screens/Examples/KeyboardAnimation/styles.ts
Labels: documentation, example

#882 e2e: chat flat list
  FabricExample/src/screens/Examples/ReanimatedChatFlatList/index.tsx
  FabricExample/src/screens/Examples/ReanimatedChatFlatList/styles.ts
  e2e/kit/013-chat-flat-list.e2e.ts
  e2e/kit/assets/android/e2e_emulator_28/ChatFlatListKeyboardIsHidden.png
  e2e/kit/assets/android/e2e_emulator_28/ChatFlatListKeyboardIsShown.png
  e2e/kit/assets/android/e2e_emulator_28/ChatFlatListTopMessages.png
  e2e/kit/assets/android/e2e_emulator_31/ChatFlatListKeyboardIsHidden.png
  e2e/kit/assets/android/e2e_emulator_31/ChatFlatListKeyboardIsShown.png
  e2e/kit/assets/android/e2e_emulator_31/ChatFlatListTopMessages.png
  e2e/kit/assets/ios/iPhone 13 Pro/ChatFlatListKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 13 Pro/ChatFlatListKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 13 Pro/ChatFlatListTopMessages.png
  e2e/kit/assets/ios/iPhone 14 Pro/ChatFlatListKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 14 Pro/ChatFlatListKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 14 Pro/ChatFlatListTopMessages.png
  e2e/kit/assets/ios/iPhone 15 Pro/ChatFlatListKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 15 Pro/ChatFlatListKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 15 Pro/ChatFlatListTopMessages.png
  e2e/kit/assets/ios/iPhone 16 Pro/ChatFlatListKeyboardIsHidden.png
  e2e/kit/assets/ios/iPhone 16 Pro/ChatFlatListKeyboardIsShown.png
  e2e/kit/assets/ios/iPhone 16 Pro/ChatFlatListTopMessages.png
  example/src/screens/Examples/ReanimatedChatFlatList/index.tsx
  example/src/screens/Examples/ReanimatedChatFlatList/styles.ts
Labels: e2e, KeyboardAvoidingView 🧪

#886 Update correct path of RNKCOverKeyboardViewComponentDescriptor.h in …
  ios/views/KeyboardControllerView.mm
  ios/views/KeyboardGestureAreaManager.mm
  ios/views/OverKeyboardViewManager.mm
  react-native-keyboard-controller.podspec
Labels: 🍎 iOS, build error

#880 fix: `KeyboardAvoidingView` + `autoFocus` + `native-stack`
  src/components/KeyboardAvoidingView/index.tsx
Labels: 🐛 bug, KeyboardAvoidingView 🧪

#890 docs: better `keyboardVerticalOffset` for `KeyboardAvoidingView` explanation
  docs/docs/api/components/keyboard-avoiding-view.mdx
  docs/src/components/KeyboardVerticalOffset/index.tsx
  docs/src/components/KeyboardVerticalOffset/kvo-dark.svg
  docs/src/components/KeyboardVerticalOffset/kvo-light.svg
  docs/src/css/custom.css
  docs/versioned_docs/version-1.16.0/api/components/keyboard-avoiding-view.mdx
Labels: documentation, KeyboardAvoidingView 🧪

#891 fix: css in `keyboardVerticalOffset`
  docs/src/css/custom.css
Labels: documentation
